@model IEnumerable<ODHDEVELOPERS.Models.DatewiseCustomerList>
    @using ODHDEVELOPERS.Models
    @{
        ViewBag.Title = "AssignPlotCustomer";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        var a = 0;
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(c => c.Id == 1);
        var planlist = (from p in db.Plans where p.status == 1 select p).ToList();

    }
    <link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet">
    <script src="~/Content/datepicker/jquery.plugin.js"></script>
    <script src="~/Content/datepicker/jquery.datepick.js"></script>

    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#popupDatepicker').datepick();
            $('#popupDatepicker1').datepick();
            $('#inlineDatepicker').datepick({ onSelect: showDate });
        });

        function showDate(date) {
            alert('The date chosen is ' + date);
        }
    </script>

    <script type="text/javascript">
    function selectphase(bid) {

        var phaseid = $("#phaseid");
        var projectid = $("#" + bid).val();

        var url = '@Url.Action("selectphase", "Branch")';
        if (projectid > 0) {
            $.get(url, { projectid: projectid }, function data(t) {

                phaseid.html('');
                phaseid.append('<option value="">Select</option>');
                for (var i = 0; i < t.length; i++) {
                    phaseid.append('<option value="' + t[i].Id + '">' + t[i].Phase + '</option>');
                }
            });
        }

    }
    function getblock(clicked_id) {


        var plotstatus ='Y';
        var projectid = $("#plancode").val();
        var phaseid = $("#phaseid").val();
        var url = '@Url.Action("GetBlockList", "Branch")';
        $.get(url, { plotstatus: plotstatus, projectid: projectid, phaseid: phaseid }, function data(d) {
            debugger;
            var block = $('#blk').html('');
            block.children().remove();
            block.append('<option value="NA">Select</option>');
            for (var i = 0; i < d.length; i++) {
                debugger;
                block.append('<option value="' + d[i].block + '">' + d[i].block + '</option>');
            }
        });
    }
    </script>





        <div  id="divid">

            





            <div class="container mt-5">
                <h2 class="text-center mb-4 create-title">Assign Plot @mr.custname List</h2>
                @using (Html.BeginForm())
                {
                    @*<div class="row-form">
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <label class="width">Start Date</label></span>
                        <input type="text" class="form-control" id="popupDatepicker" name="sdate" required>
                    </div>
                </div>
            </div>

            <div class="row-form">
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <label class="width">End Date</label></span>
                        <input type="text" class="form-control" id="popupDatepicker1" name="edate" required>
                    </div>
                </div>
            </div>*@

                    <div id="branchForm" class="form-container">



                        <div class="form-group">
                            <label class="form-label">Site Name</label>

                            <select name="plancode" id="plancode" required class="form-control" onchange="selectphase(this.id)">
                                <option selected disabled="disabled">--Select--</option>
                                @foreach (var plan in planlist)
                                {
                                    <option value="@plan.Plancode">@plan.shortcutname</option>
                                }

                            </select>
                        </div>


                        <div class="form-group">
                            <label class="form-label">Select Phase</label>

                            <select class="form-control" id="phaseid" name="phaseid" onchange="getblock(this.id)" required>
                                <option value="">Select </option>

                            </select>

                        </div>


                        <div class="form-group">
                            <label class="form-label">Select Block</label>

                            <select class="form-control" id="blk" name="block" required>
                                <option value="NA" selected>Select</option>
                            </select>

                        </div>




                        <!-- Create Button -->
                        <div class="text-center d-grid gap-2">
                            <button type="submit" class="btn create-btn"><i class="fa fa-cog"></i>Search</button>
                        </div>
                    </div>
                }






                <div class="index_body">
                    <div class="table-container">

                        <table >

                            @using (Html.BeginForm())
                            {
                                foreach (var item in Model)
                                {
                                    if (a == 0)
                                    {

                                        <tr>

                                            <th colspan="11">
                                                <a href="@Url.Action("PrintAssignPlotCustomer")" target="_blank">Get Report In PDF</a>
                                            </th>


                                        </tr>

                                        <thead>
                                            <tr>
                                                <th colspan="4" style="background-color: #ff5722; color: white">@mr.branchname Name:@User.Identity.Name</th>
                                                <th colspan="4" style="background-color: #ff5722; color: white"><b>@mr.custname List</b></th>
                                                <th colspan="3" style="background-color: #ff5722; color: white"><b>Dated:@DateTime.Now.Date.ToString("dd/MM/yyyy")</b></th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th >
                                                    <label id="sn"><b>S.N.</b></label>
                                                </th>
                                                <th >
                                                    <label id="newid"><b>@mr.custname Id</b></label>
                                                </th>

                                                <th >
                                                    <label id="introducerid"><b>Name</b></label>
                                                </th>

                                                <th >
                                                    <label id="spilid"><b>Introducer Id</b></label>
                                                </th>

                                                <th >
                                                    <label><b>Booking Amount</b></label>
                                                </th>
                                                <th >
                                                    <label><b>Block</b></label>
                                                </th>
                                                <th >
                                                    <label><b>Plot Size</b></label>
                                                </th>
                                                <th >
                                                    <label><b>Plot No</b></label>
                                                </th>
                                                <th >
                                                    <label id="doj"><b>Payment </b></label>
                                                </th>

                                                <th >
                                                    <label id="email"><b>Mobile No</b></label>
                                                </th>

                                                <th >
                                                    <label><b>Date of Joining</b></label>
                                                </th>

                                            </tr>
                                        </thead>
                                    }
                                    a = a + 1;

                        <tbody>
                            <tr>
                                <td>
                                    @a
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.newbondid)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.newintroducerid)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.bookingamount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.block)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plotsize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plotno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mobile)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.formdate).ToString("dd/MM/yyyy")
                                </td>


                            </tr>
                        </tbody>

                                }

                            }



                        </table>


                    </div>

                </div>
