@model IEnumerable<ODHDEVELOPERS.Models.Logindetail>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "BranchlLoginDetail";
        var a = 0;

    }

    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#iid").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteBrachcode",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.BranchName, value: item.BranchCode };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>



   

    <div id="divid1">
        <div id="2">



            <div class="container mt-5">
                <h2 class="text-center mb-4 create-title">@mr.branchname Login Detail</h2>

                @using (@Html.BeginForm())
                {
                    <div id="hide">


                        <div class="block">

                            <div class="block-content controls">

                                <div id="branchForm" class="form-container">

                                    <!-- Collection Point Name -->
                                    <div class="form-group">
                                        <label for="collectionPointName" class="form-label">Enter @mr.branchname Code</label>
                                        <input type="text" class="form-control" id="iid" name="iid" required>
                                    </div>

                                    <div class="text-center d-grid gap-2">
                                        <button type="submit" class="btn create-btn" id="submit" name="command" value="Search">View</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="index_body">
                    <div class="table-container">

                        <table>
                            @using (Html.BeginForm())
                            {
                                foreach (var item in Model)
                                {
                                    if (a == 0)
                                    {
                                        <thead>
                                            <tr>
                                                <th colspan="4" style="text-align: center; background-color: #ff5722; color: white"><b>@mr.branchname Login Detail </b></th>
                                                <th style="text-align: center; background-color: #ff5722; color: white"><b>  <input type="hidden" value="@item.userid" id="id" name="id"></b></th>

                                            </tr>
                                        </thead>

                                        <thead>
                                            <tr>
                                                <th>
                                                    <label id="sn"><b>S.N.</b></label>
                                                </th>
                                                <th>
                                                    <label id="cc"><b>@mr.branchname Code</b></label>
                                                </th>
                                                <th>
                                                    <label id="pp"><b>Password</b></label>
                                                </th>

                                                <th>
                                                    <label id="intime"><b>Login Time</b></label>
                                                </th>
                                                <th>
                                                    <label id="dd"><b>Logout Time</b></label>
                                                </th>


                                            </tr>
                                        </thead>
                                    }
                                    a = a + 1;

                                    <tbody>
                                        <tr>

                                            <td>
                                                @a
                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.userid)
                                            </td>

                                            <td>

                                                @Html.DisplayFor(modelItem => item.password)
                                            </td>
                                            <td>

                                                @Convert.ToDateTime(item.intime).ToString("dd/MM/yyy:HH:mm:ss")
                                            </td>
                                            <td>

                                                @Convert.ToDateTime(item.outtime).ToString("dd/MM/yyy:HH:mm:ss")
                                            </td>



                                        </tr>
                                    </tbody>

                                }

                            }



                        </table>
                        @if (a > 0)
                        {

                            <div class="text-center d-grid gap-2">
                                <a href="@Url.Action("PrintBranchlLoginDetail")" target="_blank" class="btn create-btn">Get Report In PDF</a>
                            </div>


                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


