@model IEnumerable<ODHDEVELOPERS.Models.CustomerInstallment>
    @using ODHDEVELOPERS.Models;
    @{
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "CustumerInstallmentReport";
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        var a = 0;
        Double payamount = 0, amount = 0, lafefee = 0, rebate = 0, lateday = 0, penality = 0;
    }

    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <style type="text/css">
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 4px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newbondid").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Branch/AutoCompleteBondId",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.newbondid + '(' + item.name + ')', value: item.newbondid };
                            }))

                        }
                    })
                }
            });
        })
    </script>


 

        <div  id="divid1">
            <div  id="2">

           
           


                <div class="container mt-5">
                    <h2 class="text-center mb-4 create-title">@mr.custname Ledger-Details</h2>



                    @using (@Html.BeginForm())
                    {
                        <div id="hide">
                            <div id="branchForm" class="form-container">

                                <!-- Collection Point Name -->
                                <div class="form-group">
                                    <label for="collectionPointName" class="form-label">Enter @mr.custname Id</label>
                                    <input type="text" id="newbondid" class="form-control" required name="newbondid">
                                </div>




                                <!-- Create Button -->
                                <div class="text-center d-grid gap-2">
                                    <button type="submit" class="btn create-btn" id="submit" value="Search">View</button>
                                </div>






                            </div>
                        </div>

                    }
                    <div class="index_body">
                        <div class="table-container">
                            <table>
                                @using (Html.BeginForm())
                                {
                                    foreach (var item in Model)
                                    {
                                        if (a == 0)
                                        {
                                            <thead>
                                                <tr>
                                                    <th colspan="6" style="text-align: center;"><b>@mr.custname Id: @item.newbondid</b></th>
                                                    <th colspan="6" style="text-align: center;"><b>@mr.custname Installment List</b></th>
                                                    <th colspan="6" style="text-align: center;"><b>Dated:@DateTime.Now.ToString("dd/MM/yyyy")</b></th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr>
                                                    <th style=" text-align: center;">
                                                        <label id="sn"><b>S.N.</b></label>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <label id="planname"><b>@mr.planname Name</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="term_plan"><b>Term</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="mode"><b>Mode</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="amount"><b>Amount</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="payamount"><b>Pay Amount</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="paymethod"><b>Pay Method</b></label>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <label id="bank"><b>Bank Name</b></label>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <label id="chequeno"><b>Cheque No</b></label>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <label id="trno"><b>Transaction Id</b></label>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <label id="pt"><b>Transaction Type</b></label>
                                                    </th>
                                                    <th style=" text-align: center;">
                                                        <label id="payamount1"><b>Late Days</b></label>
                                                    </th>

                                                    <th style=" text-align: center;">
                                                        <label id="latefine"><b>Late Fine</b></label>
                                                    </th>

                                                    <th style=" text-align: center;">
                                                        <label id="rebate"><b>Rebate</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="paymentdate"><b>Payment Date</b></label>
                                                    </th>

                                                    <th style=" text-align: center;">
                                                        <label><b>CSS No.</b></label>
                                                    </th>

                                                    <th style="text-align: center;">
                                                        <label id="expirydate"><b>Due Date</b></label>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <label><b>@mr.branchname</b></label>
                                                    </th>

                                                </tr>
                                            </thead>
                                        }
                                        a = a + 1;


                                        <tbody>
                                            <tr style="text-align: center;">
                                                <td>
                                                    @a
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.planname)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.term_plan)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.mode)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.amount)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.payamount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.paymethod)
                                                </td>
                                                <td>
                                                    @if (item.paymethod == "Cheque")
                                                    {
                                                        @Html.DisplayFor(modelItem => item.bank)
                                                    }
                                                    else if (item.paymethod == null)
                                                    {
                                                        <label></label>
                                                    }
                                                    else if (item.paymethod == "banktransaction")
                                                    {
                                                        @Html.DisplayFor(modelItem => item.bank)
                                                    }
                                                    else
                                                    {
                                                        <label>NA</label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.paymethod == "Cheque")
                                                    {
                                                        @Html.DisplayFor(modelItem => item.chequeno)
                                                    }
                                                    else if (item.paymethod == null)
                                                    {
                                                        <label></label>
                                                    }
                                                    else
                                                    {
                                                        <label>NA</label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.paymethod == "banktransaction")
                                                    {
                                                        @Html.DisplayFor(modelItem => item.chequeno)
                                                    }
                                                    else if (item.paymethod == null)
                                                    {
                                                        <label></label>
                                                    }
                                                    else
                                                    {
                                                        <label>NA</label>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.paymethod == "banktransaction")
                                                    {
                                                        @Html.DisplayFor(modelItem => item.transactiontype)
                                                    }
                                                    else if (item.paymethod == null)
                                                    {
                                                        <label></label>
                                                    }
                                                    else
                                                    {
                                                        <label>NA</label>
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.latedays)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.latefine)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.reliefrs)
                                                </td>

                                                <td>
                                                    @Convert.ToDateTime(item.paymentdate).ToString("dd/MM/yyyy")
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.cssno)
                                                </td>

                                                <td>
                                                    @Convert.ToDateTime(item.expirydate).ToString("dd/MM/yyyy")
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.branchname)
                                                </td>
                                            </tr>
                                        </tbody>

                                        rebate = rebate + Convert.ToDouble(item.reliefrs);
                                        lafefee = lafefee + Convert.ToDouble(item.latefine);
                                        payamount = payamount + Convert.ToDouble(item.payamount);
                                        amount = amount + Convert.ToDouble(item.amount);
                                        lateday = lateday + Convert.ToDouble(item.latedays);


                                    }
                                    if (a > 0)
                                    {
                                        <tbody>
                                            <tr style="text-align: center;">

                                                <td colspan="4">
                                                    <b>GRAND TOTAL:</b>
                                                </td>


                                                <td>
                                                    <b>@amount</b>
                                                </td>

                                                <td>
                                                    <b>@payamount</b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b>@lateday</b>
                                                </td>
                                                <td>
                                                    <b>@lafefee</b>
                                                </td>
                                                <td>
                                                    <b>@penality</b>
                                                </td>


                                                <td>
                                                    <b></b>
                                                </td>

                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>
                                                <td>
                                                    <b></b>
                                                </td>

                                            </tr>
                                        </tbody>

                                    }

                                }



                            </table>
                            @if (a > 0)
                            {

                                <div class="text-center d-grid gap-2">
                                    <a href="@Url.Action("PrintCustumerInstallment")" target="_blank" class="btn create-btn" style="margin-top:10px">Get Report In PDF</a>
                                </div>
                             
                            }
                        </div>
                    </div>
                </div>

                        </div>

                    </div>

















