@model IEnumerable<ODHDEVELOPERS.Models.ExpenseList>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "DailyExpense";
        var a = 0;
        Double sum = 0;
        Double expense = Convert.ToDouble(ViewData["expense"]);

    }
    <link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet" />
    <script src="~/Content/datepicker/jquery.plugin.js"></script>
    <script src="~/Content/datepicker/jquery.datepick.js"></script>
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#sdate').datepick();
            $('#edate').datepick();

        });
    </script>



    <div id="divid1">
        <div id="2">





            <div class="container mt-5">
                <h2 class="text-center mb-4 create-title">Datewise Expense Report</h2>

                @using (@Html.BeginForm())
                {
                    <div id="hide">



                        <!-- Date -->
                        <div class="form-group">
                            <label for="date" class="form-label">Select Start Date</label>
                            <input type="text" id="sdate" class="form-control" required name="sdate" autocomplete="off">
                        </div>



                        <!-- Date -->
                        <div class="form-group">
                            <label for="date" class="form-label">Select End Date</label>
                            <input type="text" id="edate" class="form-control" required name="edate" autocomplete="off">
                        </div>

                        <!-- Create Button -->
                        <div class="text-center d-grid gap-2">
                            <button type="submit" class="btn create-btn" id="submit" name="command" value="Search">View</button>
                        </div>

                    </div>



                }

                @using (Html.BeginForm())
                {

                    <div id="1">
                        <div class="index_body">
                            <div class="table-container">

                                <table>
                                    @using (Html.BeginForm())
                                    {
                                        foreach (var item in Model)
                                        {

                                            if (a == 0)
                                            {
                                                <thead>
                                                    <tr>
                                                        <td colspan="2" style="width:300px;font-size:medium;height:50px;"> <label id="dddd"><b></b></label></td>
                                                        <td colspan="4" style="width:600px;text-align:center;font-size:medium;height:50px;"><b>Datewise Expense Report </b></td>
                                                        <td colspan="2" style="width:200px;text-align:center;font-size:medium;height:50px;"><b>Printed: @Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</b></td>
                                                    </tr>
                                                </thead>

                                                <thead>

                                                    <tr>
                                                        <th>
                                                            <label id="sn"><b>S.N.</b></label>
                                                        </th>
                                                        <th>
                                                            <label id="date"><b>Date</b></label>
                                                        </th>
                                                        <th>
                                                            <label id="Head"><b>Head</b></label>
                                                        </th>

                                                        <th>
                                                            <label><b>Remark</b></label>
                                                        </th>
                                                        <th>
                                                            <label id="Amount"><b>Amount</b></label>
                                                        </th>
                                                        <th>
                                                            <label><b>Opid</b></label>
                                                        </th>
                                                        <th>
                                                            <label><b>Paymethod</b></label>
                                                        </th>
                                                        <th>
                                                            <label><b>Trans. Id</b></label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            }
                                            a = a + 1;


                                            <tbody>
                                                <tr>
                                                    <td>
                                                        @a
                                                    </td>
                                                    <td>
                                                        @Convert.ToDateTime(item.date_time).ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.head)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Remark)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.amount)
                                                    </td>
                                                    <td>@item.opid</td>
                                                    <td>
                                                        @item.paymethod
                                                    </td>
                                                    <td>
                                                        @item.trans_id
                                                    </td>
                                                </tr>
                                            </tbody>
                                            sum = sum + Convert.ToDouble(item.amount);
                                        }

                                        if (a > 0)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td colspan="5" style="width:80%;text-align:right;"> <label id="toatlction"><b>Grand Total:</b></label></td>
                                                    <td colspan="3" style="width:20%;text-align:left;padding-left:84px"><b>@sum</b></td>
                                                </tr>
                                            </tbody>



                                        }
                                    }



                                </table>

                                @if (a > 0)
                                {
                                    <div class="text-center d-grid gap-2">
                                        <a href="@Url.Action("PrintExpanse")" target="_blank" class="btn create-btn" style="margin-top:10px">Get Report In PDF</a>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>

                            }
                        </div>
                    </div>

