@model IEnumerable<ODHDEVELOPERS.Models.DatewiseSVoucherList>
@using ODHDEVELOPERS.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "DatewiseSVoucherList";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var a = 0;
    Double sumpayment = 0, sumcommission = 0;
    
}


<div class="page-content">
         
                <div class="container" id="divid1">
                    <div class="page-toolbar" id="2">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Datewise Spot Commission List</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                    </div>
 
  @using (@Html.BeginForm()){
                   <div class="row" id="hide">
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls" >
                                     <div class="row-form">
           <div class="input-group" style="margin-left:1%;margin-right:1%;">
                        <span class="input-group-addon"><label class="width">Start Date</label></span>
                    <input type="text" id="paymentdat" class="form-control datepicker" required name="sdate" />
                         
                </div>   </div>
            
              <div class="row-form">
           <div class="input-group" style="margin-left:1%;margin-right:1%;">
                        <span class="input-group-addon"><label class="width">End Date</label></span>
                    <input type="text" id="paymentdat1" class="form-control datepicker" required name="edate" />
                         
                </div>   </div>


                   <div class="row-form" style="width:100%">
      <div class="col-md-9">
          <button id="submit" value="Search" class="btn btn-primary pull-right" type="submit">View</button>
     </div>
              </div>


        </div>
        </div>
                             </div>
        </div>
                    }
                  
<table border="1" style="margin-left:1%; margin-right:1px; width:98%; margin-bottom:70px; ">
    @using (Html.BeginForm())
                {
                    foreach (var item in Model)
                    {
                        if (a == 0)
                        {
                            <tr>
                                <th colspan="5" style="text-align:center;" ><b>Datewise Spot Commission List</b></th>
                                <th colspan="3" style="text-align:center;" ><b>Duration:@item.sdate.ToString("dd/MM/yyyy")-@item.edate.ToString("dd/MM/yyyy")</b></th>
                            </tr>
        
    <tr>
        <th style="width:10%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
         <th style="width:20%;text-align:center;">
           <label id="option"><b>@mr.agentname Id</b></label>
        </th>
        <th style="width:20%;text-align:center;">
           <label id="planname"><b>Name</b></label>
            </th>
          <th style="width:20%;text-align:center;">
           <label id="custid"><b>Customer ID</b></label>
            </th>
          <th style="width:20%;text-align:center;">
           <label id="custname"><b>Customer Name</b></label>
            </th>
        <th style="width:20%;text-align:center;">
           <label id="term_plan"><b>Amount</b></label>
        </th>
            
         <th style="width:15%;text-align:center;">
         <label id="Payment"><b>Commission</b></label>
        </th>

          <th style="width:15%;text-align:center;">
         <label id="date"><b>Date</b></label>
        </th>
      
    </tr>
    }
                        a = a + 1;
                        

    <tr style="text-align:center;">
        <td>
            @a
        </td>
          <td>
             @Html.DisplayFor(modelItem => item.newagentid)
        </td>
            <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.newbondid)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.bondname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.commission)
        </td>
        
          <td>
            @Html.DisplayFor(modelItem => item.pdate)
        </td>

    </tr>
                        sumpayment = sumpayment + Convert.ToDouble(item.amount);
                        sumcommission = sumcommission + Convert.ToDouble(item.commission);
                       
                        
                        
    }
    if(a>0)
    {
    <tr style="text-align:center;">
     
        <td colspan="5">
            <b>GRAND TOTAL:</b>
        </td>
       
        <td>
           <b> @sumpayment</b>
        </td>
           <td>
           <b> @sumcommission</b>
        </td>
       
    
        <td >
            
        
            </td>
    </tr>
    }
                     
    }
    
    
    
   
</table>
                       @if(a>0)
        {
         <a href="@Url.Action("PrintDatewiseSVoucherList")" target="_blank">Get Report In PDF</a>
        }
             
                   
         
                    </div>
    </div>


