@model IEnumerable<ODHDEVELOPERS.Models.appltab>
@using ODHDEVELOPERS.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "DeleteBond";
    var a = 0;
}

<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#newbondid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteBondAppl",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.newbondid, value: item.newbondid };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>


<div class="page-content">

                <div class="container" id="divid1">
                    <div class="page-toolbar" id="2">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Delete @mr.custname</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                           
                        </div>           
                     
                    </div>
 
  @using (@Html.BeginForm("DeleteBond", "Admin",FormMethod.Post))
  {
                   <div class="row" id="hide">
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls" >
                                     <div class="row-form">
           <div class="input-group" style="margin-left:1%;margin-right:1%;">
                        <span class="input-group-addon">Enter @mr.custname Id</span>
                    <input type="text" id="newbondid" class="form-control" required name="newbondid">
                         
                </div>   </div>
                   <div class="row-form" style="width:100%">
      <div class="col-md-9">
          <button id="submit" value="Search" class="btn btn-primary pull-Left" type="submit" >View</button>
     </div>
              </div>

                                          
        </div>
        </div>
                             </div>
        </div>
                    }
                     <div id="1">
<table border="1" style="margin-left:1%; margin-right:1%; width:98%;">
   
    @foreach(var item in Model){
        if(a==0)
        {
  <tr>
        <th style="width:5%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
        <th style="width:10%;text-align:center;">
           <label id="name"><b>Name</b></label>
            </th>
        
        <th style="width:10%;text-align:center;">
           <label id="newintroducerid"><b>Introducer Id</b></label>
        </th>
            
        <th style="width:10%;text-align:center;">
           <label id="addr"><b>Address</b></label>
        </th>
            
        <th style="width:10%;text-align:center;">
            <label id="mobileno" ><b>Mobile No.</b></label>
        </th>
            
       
       <th style="width:10%;text-align:center;">
           <label id="planname"><b>Plan Name</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label id="plantype"><b>Plan Type</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label id="payment"><b>Pay Amount</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label id="branchcode"><b>Branch Code</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label id="mode"><b>Mode</b></label>
        </th>
          <th style="width:10%;text-align:center;">
           <label id="Action"><b>Action</b></label>
        </th>
    </tr>
        }

        a = a + 1;
    <tr style="text-align:center;">
        <td>
            @a
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.newintroducerid)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.addr)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.mobileno)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.planname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plantype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.branchcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mode)
        </td>
         
         <td>
                
            @Html.ActionLink("Delete", "DeleteBond", new { newbondid = item.newbondid, status = 1 },new {onclick = "return confirm('Are you sure to delete this Bond?');"})
        </td>
         
    </tr>
    } 

</table>
              </div> 
                   

                    </div>
    </div>