@model IEnumerable<ODHDEVELOPERS.Models.Installmenttab>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "DeleteReciept";
        var a = 0;
    }
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#BondId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Branch/AutoCompleteBondId",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.name, value: item.newbondid };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>

    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />
    <div class="container mt-5">
        <!-- Title -->
        <h2 class="text-center create-title">Cancel Receipt</h2>

        @using (Html.BeginForm())
        {
            <!-- Form -->
            <div id="associateIdForm" class="form-container">

                <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
                <!-- Associate Id Input -->
                <div class="form-group">
                    <label for="associateId" class="form-label">@mr.custname Id or Name</label>
                    <input type="text" class="form-control" name="newbondid" id="BondId" placeholder=" Customer Id" required>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn create-btn">Search</button>
                </div>
            </div>
        }
    @*</div>*@

    @*<div class="container mt-5">*@
        <div class="index_body">
            <div class="table-container">
                <table>
                    @foreach (var item in Model)
                    {
                        if (a == 0)
                        {
                            <thead>
                                <!-- Header Row -->
                                <tr class="header-row">
                                    <th colspan="11" style="text-align: center; background-color:#ff5722; color:white">
                                        <b>Renewal-List</b>
                                    </th>
                                </tr>

                                <tr style="font-size: medium; height: 40px;">
                                    <th style="width: 10%; text-align: center;">
                                        <label id="ii"><b>Install</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="cc"><b>@mr.custname Id</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="sn"><b>Amount</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="pp"><b>@mr.planname Name</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="gg"><b>Receipt No</b></label>
                                    </th>
                                    <th style="width: 5%; text-align: center;">
                                        <label id="kk"><b>Year</b></label>
                                    </th>
                                    <th style="width: 5%; text-align: center;">
                                        <label id="mm"><b>Mode</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="vv"><b>Payment Date</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="ccc"><b>Expiry Date</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="zz"><b>@mr.branchname Code</b></label>
                                    </th>
                                    <th style="width: 10%; text-align: center;">
                                        <label id="action"><b>Action</b></label>
                                    </th>
                                </tr>
                            </thead>
                        }
                        a = a + 1;
                        <tbody>
                            <!-- Data Rows -->
                            <tr>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.installmentno)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.newbondid)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.amount)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.planname)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.receiptno)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.year)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.mode)</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Convert.ToDateTime(item.paymentdate).ToString("dd/MM/yyyy")</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Convert.ToDateTime(item.expirydate).ToString("dd/MM/yyyy")</span>
                                </td>
                                <td>
                                    <span class="display-mode">@Html.DisplayFor(modelItem => item.branch)</span>
                                </td>
                                <td>
                                    <div class="action-buttons">
                                        <a href="@Url.Action("DeleteReciept", new { newbondid = item.newbondid, receiptno = item.receiptno })"
                                           onclick="return confirm('Are you sure to Cancel this Receipt?');" class="btn btn-danger btn-sm">
                                            Cancel
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>

                <!-- Optional Message -->
                <h4 class="message">@ViewBag.msg</h4>
            </div>
        </div>

  </div>