@model IEnumerable<ODHDEVELOPERS.Models.FundMobilization>
    @using ODHDEVELOPERS.Models
    @{
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "OperatorFundMobilisation";
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        var a = 0;
        var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
        var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
        var plan4 = db.Plans.Single(p1 => p1.Plancode == 4);
        var plan3 = db.Plans.Single(p2 => p2.Plancode == 3);
        Double tsis = 0, tMISFresh = 0, tMIS1 = 0, tpps = 0, tnfp = 0, tMIS2 = 0, tMIS3 = 0, tMIS4 = 0, tMIS5 = 0, tMIS6 = 0, tMIS7a = 0, total = 0, gtotal = 0;

    }


    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#opid").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteOpId",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.OperatorName, value: item.OperatorId };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>




    <div id="divid1">
        <div id="2">



            <div class="container mt-5">
                <h2 class="text-center mb-4 create-title">Fund Mobilisation Report</h2>

                @using (@Html.BeginForm())
                {
                    <div id="hide">
                        <div id="branchForm" class="form-container">

                            <!-- Collection Point Name -->
                            <div class="form-group">
                                <label for="collectionPointName" class="form-label">Collection Point Id</label>
                                <input type="text" class="form-control" name="opid" id="opid" placeholder="Enter Collection Point Name" required>
                            </div>



                            <!-- Date -->
                            <div class="form-group">
                                <label for="date" class="form-label">Start Date</label>
                                <input type="text" class="form-control datepicker" name="sdate" id="paymentdat" placeholder="Enter Date" onclick="changedate(this.id)" required>
                            </div>

                            <!-- Date -->
                            <div class="form-group">
                                <label for="date" class="form-label">End Date</label>
                                <input type="text" class="form-control datepicker" name="edate" id="paymentdat1" placeholder="Enter Date" onclick="changedate(this.id)" required>
                            </div>

                            <!-- Create Button -->
                            <div class="text-center d-grid gap-2">
                                <button type="submit" class="btn create-btn" id="submit" value="Search">View</button>
                            </div>






                        </div>
                    </div>

                }


                <div class="index_body">
                    <div class="table-container">
                        <table>
                            @using (Html.BeginForm())
                            {
                                foreach (var item in Model)
                                {
                                    if (a == 0)
                                    {
                                        <thead>
                                            <tr>
                                                <th colspan="6" style="background-color:#ff5722; color:white">@mr.branchname Name:@ViewData["Branch"]</th>
                                                <th colspan="3" style="background-color:#ff5722; color:white"><b>Fund Mobilisation Report</b></th>
                                                <th colspan="5" style="background-color:#ff5722; color:white"><b>Duration:@item.sdate.ToString("dd/MM/yyyy")-@item.edate.ToString("dd/MM/yyyy")</b></th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label id="sn"><b>S.N.</b></label>
                                                </th>
                                                <th>
                                                    <label id="option"><b>@mr.planname</b></label>
                                                </th>
                                                <th>
                                                    <label id="planname"><b>@plan2.shortcutname Fresh</b></label>
                                                </th>

                                                <th>
                                                    <label id="term_plan"><b>@plan1.shortcutname Fresh</b></label>
                                                </th>
                                                <th>
                                                    <label id="term_plan1"><b>@plan4.shortcutname Fresh</b></label>
                                                </th>
                                                <th>
                                                    <label id="term_plan2"><b>@plan3.shortcutname Fresh</b></label>
                                                </th>
                                                <th>
                                                    <label id="mode"><b>1st Year</b></label>
                                                </th>

                                                <th>
                                                    <label id="amount"><b>2nd Year</b></label>
                                                </th>


                                                <th>
                                                    <label id="latefine"><b>3rd Year</b></label>
                                                </th>

                                                <th>
                                                    <label id="paymentdate"><b>4th Year</b></label>
                                                </th>

                                                <th>
                                                    <label id="expirydate"><b>5th year</b></label>
                                                </th>
                                                <th>
                                                    <label id="payamount1"><b>6th Year</b></label>
                                                </th>

                                                <th>
                                                    <label id="payamount"><b>7th Yr & Above </b></label>
                                                </th>


                                                <th>
                                                    <label id="payamount3"><b>TOTAL</b></label>
                                                </th>


                                            </tr>
                                        </thead>
                                    }
                                    a = a + 1;
                                    total = (Convert.ToDouble(item.tsis) + Convert.ToDouble(item.tNFPFresh) + Convert.ToDouble(item.tMISFresh) + Convert.ToDouble(item.tPPSFresh) + Convert.ToDouble(item.tMIS1) + Convert.ToDouble(item.tMIS2) + Convert.ToDouble(item.tMIS3) + Convert.ToDouble(item.tMIS4) + Convert.ToDouble(item.tMIS5) + Convert.ToDouble(item.tMIS6) + Convert.ToDouble(item.tMIS7a));
                                    <tbody>
                                        <tr>
                                            <td>
                                                @a
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.planname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tsis)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMISFresh)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tPPSFresh)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tNFPFresh)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS1)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS2)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS3)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS4)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS5)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS6)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.tMIS7a)
                                            </td>


                                            <td>@total</td>


                                        </tr>
                                    </tbody>
                                    tsis = tsis + Convert.ToDouble(item.tsis);
                                    tMISFresh = tMISFresh + Convert.ToDouble(item.tMISFresh);
                                    tpps = tpps + Convert.ToDouble(item.tPPSFresh);
                                    tnfp = tnfp + Convert.ToDouble(item.tNFPFresh);
                                    tMIS1 = tMIS1 + Convert.ToDouble(item.tMIS1);
                                    tMIS2 = tMIS2 + Convert.ToDouble(item.tMIS2);
                                    tMIS3 = tMIS3 + Convert.ToDouble(item.tMIS3);
                                    tMIS4 = tMIS4 + Convert.ToDouble(item.tMIS4);
                                    tMIS5 = tMIS5 + Convert.ToDouble(item.tMIS5);
                                    tMIS6 = tMIS6 + Convert.ToDouble(item.tMIS6);
                                    tMIS7a = tMIS7a + Convert.ToDouble(item.tMIS7a);

                                    gtotal = gtotal + total;

                                }
                                if (a > 0)
                                {
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <b>GRAND TOTAL:</b>
                                            </td>
                                            <td>
                                                <b> @tsis</b>
                                            </td>
                                            <td>
                                                <b> @tMISFresh</b>
                                            </td>
                                            <td>
                                                <b> @tpps</b>
                                            </td>
                                            <td>
                                                <b> @tnfp</b>
                                            </td>
                                            <td>
                                                <b> @tMIS1</b>
                                            </td>

                                            <td>
                                                <b> @tMIS2</b>
                                            </td>

                                            <td>
                                                <b>  @tMIS3</b>
                                            </td>

                                            <td>
                                                <b> @tMIS4</b>
                                            </td>

                                            <td>
                                                <b> @tMIS5</b>
                                            </td>

                                            <td>
                                                <b> @tMIS6</b>

                                            </td>
                                            <td>
                                                <b> @tMIS7a</b>
                                            </td>

                                            <td>
                                                <b>@gtotal</b>

                                            </td>
                                        </tr>
                                    </tbody>
                                }

                            }




                        </table>
                        @if (a > 0)
                        {
                            <a href="@Url.Action("PrintOperatorFundMobilisation")" target="_blank" class="btn create-btn">Get Report In PDF</a>
                        }



                    </div>
                </div>

            </div>
        </div>
    </div>


