@model IEnumerable<ODHDEVELOPERS.Models.DailyCollection>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);

        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "OperatorDailyCollection";
        var a = 0;
        int my = Convert.ToInt32(db.NewPlans.Max(y => y.Term));
        int min = 1;
        Double appfee = 0, agencyfee = 0, memberfee = 0, acformfee = 0, totalexp = 0, totalvoucher = 0, sum = 0, late = 0, rebate = 0, diposit = 0, withdraw = 0;

    }

    <link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet" />
    <script src="~/Content/datepicker/jquery.plugin.js"></script>
    <script src="~/Content/datepicker/jquery.datepick.js"></script>

    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />


    <script>
        $(function () {
            $('#date').datepick();


        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {

                if ($(this).attr("value") == "1") {
                    $("#yy").hide();

                }
                if ($(this).attr("value") == "2") {

                    $("#yy").hide();
                }
                if ($(this).attr("value") == "3") {
                    $("#yy").show();

                }
                if ($(this).attr("value") == "4") {
                    $("#yy").hide();

                }

            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#newagentid").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteAgentid",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.name, value: item.NewAgentId };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#opid").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteOpId",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.OperatorName, value: item.OperatorId };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>




    <div class="container mt-5">
        <h2 class="text-center mb-4 create-title">Daily Collection Report</h2>

        @using (@Html.BeginForm())
        {
            <div id="hide">

                <div id="branchForm" class="form-container">

                    <!-- Collection Point Name -->
                    <div class="form-group">
                        <label for="collectionPointName" class="form-label">Collection Point Id</label>
                        <input type="text" class="form-control " name="opid" id="opid" placeholder="Enter Collection Point Name" value="@ViewData["opid"]" required>
                    </div>

                    <!-- Date -->
                    <div class="form-group">
                        <label for="date" class="form-label">Select Date</label>
                        <input type="text" class="form-control" placeholder="Enter Date" id="date" name="date" value="@ViewData["date"]" required>
                    </div>



                    <!-- Collection Point Name -->
                    <div class="form-group">
                        <label for="collectionPointName" class="form-label">Enter @mr.agentname Id</label>
                        <input type="text" class="form-control " id="newagentid" name="newagentid" value="@ViewData["newagentid"]" placeholder="Enter Collection Point Name" required>
                    </div>








                    <div class="mb-3">
                        <label class="form-label">Filter By</label><br>
                        <input id="radio2" type="radio" name="filter" class="filter" value="1" checked="checked" />All
                        <input id="radio3" type="radio" name="filter" class="filter" value="2" />Fresh
                        <input id="radio4" type="radio" name="filter" class="filter" value="3" />Renewal
                        <input id="radio5" type="radio" name="filter" class="filter" value="4" />Saving
                    </div>

                    <div class="row-form" id="yy" style="display:none;">
                        <div class="col-md-9">
                            <div class="form-group">
                                <span class="input-group-addon"><label class="width">Select Year</label></span>
                                <select class="form-control" id="year" name="year" required>
                                    <option selected value="0">All </option>
                                    @while (min <= my)
                                    {
                                        <option value="@min">@min Yr</option>
                                        min = min + 1;

                                    }

                                </select>
                            </div>
                        </div>
                    </div>




                    <!-- Create Button -->
                    <div class="text-center d-grid gap-2">
                        <button type="submit" class="btn create-btn" id="submit" value="Search">View</button>
                    </div>


                </div>
            </div>

        }


        <div class="index_body">
            <div class="table-container">

                <table>

                    @foreach (var item in Model)
                    {
                        if (a == 0)
                        {
                            <tr class="header-row">
                                <th style="background-color:#FF5722">@mr.branchname:@item.branchcode</th>
                                <th style="background-color:#FF5722"><b>Daily Collection Report</b></th>
                                <th style="background-color:#FF5722"><b> Dated:@Convert.ToDateTime(ViewData["ondate"]).ToString("dd/MM/yyyy")</b></th>

                            </tr>
                            <thead>
                                <tr>
                                    <th>
                                        <label><b>S.N.</b></label>
                                    </th>
                                    <th>
                                        <label><b>CSS No</b></label>
                                    </th>
                                    <th>
                                        <label><b>@mr.custname Id</b></label>
                                    </th>
                                    <th>
                                        <label><b>Name</b></label>
                                    </th>

                                    <th>
                                        <label id="term_plan"><b>Type</b></label>
                                    </th>

                                    <th>
                                        <label><b>Introducer Id</b></label>
                                    </th>

                                    <th>
                                        <label><b>Amount</b></label>
                                    </th>

                                    <th>
                                        <label><b>Late Fee</b></label>
                                    </th>

                                    <th>
                                        <label><b>Rebate</b></label>
                                    </th>

                                    <th>
                                        <label><b>@mr.planname</b></label>
                                    </th>

                                    <th>
                                        <label><b>@mr.branchname</b></label>
                                    </th>
                                </tr>
                            </thead>

                        }
                        a = a + 1;

                        <tbody>
                            <tr>
                                <td>
                                    @a
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSS_No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account_Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.New)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Introducer_Code)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Amt_Deposit)
                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.Late_Fee)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rebate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Planname)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.branchname)
                                </td>

                            </tr>
                        </tbody>
                        late = late + Convert.ToDouble(item.Late_Fee);
                        rebate = rebate + Convert.ToDouble(item.Rebate);
                        sum = sum + Convert.ToDouble(item.Amt_Deposit);
                        appfee = Convert.ToDouble(item.appcharge);
                        agencyfee = Convert.ToDouble(item.formfee);
                        memberfee = Convert.ToDouble(item.memberfee);
                        acformfee = Convert.ToDouble(item.acformfee);
                        totalexp = Convert.ToDouble(item.totalexp);
                        totalvoucher = Convert.ToDouble(item.Voucher);
                        diposit = Convert.ToDouble(item.dipositsaving);
                        withdraw = Convert.ToDouble(item.widthdrawsaving);
                    }
                    @if (a > 0)
                    {
                        <thead>
                            <tr>
                                <td></td>
                                <td><label><b>TOTAL:</b></label></td>
                                <td><label><b>@sum</b></label></td>
                                <td><label><b> @late</b></label></td>
                                <td><label><b>@rebate</b></label></td>
                                <td colspan="2"></td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><label><b>@mr.custname Fee:</b></label></td>
                                <td><label><b>@appfee</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><label><b>@mr.agentname Fee:</b></label></td>
                                <td><label><b>@agencyfee</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><label><b>Member Fee:</b></label></td>
                                <td><label><b>@memberfee</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><label><b>A/c Form Fee:</b></label></td>
                                <td><label><b>@acformfee</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><label><b>Total Saving Deposit:</b></label></td>
                                <td><label><b>@diposit</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><label><b>TOTAL INCOME:</b></label></td>
                                <td><label><b>@(sum+appfee+agencyfee+memberfee+acformfee+diposit+late)</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr display:none">
                                <td style="width:20%" colspan="5"></td>
                                <td><label><b>Total Expense:</b></label></td>
                                <td><label><b>@totalexp</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td style="width:20%" colspan="5"></td>
                                <td><label><b>Total Saving Withdraw:</b></label></td>
                                <td><label><b>@withdraw</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr display:none">
                                <td style="width:20%" colspan="5"></td>
                                <td><label><b>Total Voucher:</b></label></td>
                                <td><label><b>@totalvoucher</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr display:none">
                                <td style="width:20%" colspan="5"></td>
                                <td><label><b>TOTAL EXPENSE:</b></label></td>
                                <td><label><b>@(withdraw)</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr style="text-align:left;">
                                <td style="width:20%" colspan="5"></td>
                                <td><label><b>GRAND TOTAL:</b></label></td>
                                <td><label><b>@(sum+appfee+agencyfee+late+memberfee+acformfee+diposit-withdraw-rebate)</b></label></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    }


                </table>


                @if (a > 0)
                {
                    <a href="@Url.Action("PrintOperatorDailyCollection")" target="_blank">Get Report In PDF</a>
                }


            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Initialize Flatpickr
        flatpickr("#date", {
            dateFormat: "Y-m-d", // Format stored in the input field (e.g., 2025-01-18)
            altInput: true,      // Show an alternate date format in the input field
            altFormat: "F j, Y", // Format shown to the user (e.g., January 18, 2025)
            allowInput: false,   // Disable manual typing, allowing only calendar selection
            inline: false        // Show dropdown calendar (not inline)
        });
    </script>
