@model IEnumerable<ODHDEVELOPERS.Models.BondwiseVoucherlist>
@using ODHDEVELOPERS.Models;
@{
    
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var vf = db.VFormatTabs.Single(f => f.Id == 3);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "PaymentOBVThree";
    var a = 0;
    Double sumamount = 0, sumcommission = 0;
  
    
}
<link rel="stylesheet" href="~/Content/jquery-ui.css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#newagentid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteAgentid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>


<div class="page-content">
    
                <div class="container">

<div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">@vf.type</div>
                            <div class="page-toolbar-subtitle"></div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                                  
                        
                    </div> 
                    </div>
                    
                   
                        
<table border="1" style="margin-left:1%; margin-right:1px; width:98%;">
    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            if (a == 0)
            {
                
          
         
               
    <tr>
        <th style="width:5%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
        <th style="width:15%;text-align:center;">
           <label id="newid"><b>@mr.custname Id</b></label>
            </th>
        
        <th style="width:15%;text-align:center;">
           <label id="spilid"><b>@mr.custname Name</b></label>
        </th>
            <th style="width:10%;text-align:center;">
           <label id="introducerid"><b>Introducer Id</b></label>
        </th>
        <th style="width:10%;text-align:center;">
            <label id="username" ><b>@mr.planname Name</b></label>
        </th>
            
        <th style="width:5%;text-align:center;">
           <label id="position"><b>Mode</b></label>
        </th>
             
        <th style="width:10%;text-align:center;">
<label id="mobile" ><b>Business</b></label>
        </th>
            
         <th style="width:10%;text-align:center;">
<label id="email"><b>Percentage</b></label>
        </th>

         <th style="width:10%;text-align:center;">
           <label id="doj"><b>Commission</b></label>
        </th>
         <th style="width:10%;text-align:center;">
           <label id="newrenew"><b>Type</b></label>
        </th>
      
    </tr>
            }
            a = a + 1;


    <tr style="text-align:center;">
        <td>
            @a
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newbondid)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.bondname)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.bondintroducerid)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.planname)
        </td>
         
        <td>
            @Html.DisplayFor(modelItem => item.mode)
        </td>
         
       
        <td>
            @Html.DisplayFor(modelItem => item.business)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.percentage)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.commission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newrenew)
        </td>
             
    </tr>
        
            sumamount = sumamount + item.business;
            sumcommission = sumcommission + item.commission;
        }

        if (a > 0)
        {
                            <tr style="text-align:right;">
        <td colspan="4">
           
        </td>
        
       
        <td colspan="2" >
            <b> Grand Total:</b>
        </td>
       
       
        <td colspan="2">
          <b>  @sumamount</b>
        </td>
        
        <td>
          <b>  @sumcommission</b>
        </td>
       
       <td>
         
        </td>
             
    </tr>
       
            var lesstds = Math.Round((sumcommission * Convert.ToDouble(ViewData["tdsper"])) / 100, 2);
         <tr style="text-align:right;">
        <td colspan="4">
           
        </td>
        
        <td colspan="2" >
            <b> Less TDS:</b>
        </td>

        <td colspan="3">
          <b>  @lesstds</b>
        </td>
             <td>
         
        </td>
        
    </tr>
        <tr style="text-align:right;">
        <td colspan="4">
           
        </td>
        
        <td colspan="2" >
            <b> Bonus:</b>
        </td>
        <td colspan="3">
          <b>  @ViewData["bonusamount"]</b>
        </td>
             <td>
         
        </td>
       
    </tr>
            var netpayamount = sumcommission + Convert.ToDouble(ViewData["bonusamount"]) - lesstds;
            ViewData["netpayamount"] = netpayamount;
         <tr style="text-align:right;">
        <td colspan="4">
           
        </td>
        
        <td colspan="2" >
            <b> Net Payable Amount:</b>
        </td>
        <td colspan="3">
          <b>  @netpayamount</b>
        </td>
         <td>
         
        </td>
    </tr>
        }


    }
    
    
   
</table>
           @if (a > 0)
           {
                <a href="@Url.Action("PrintBWVoucher", "Admin", new { netpayamount=ViewData["netpayamount"]})" target="_blank">Get Voucher In PDF</a>
           }   
                        
                    </div> 
    </div>

