@model IEnumerable<ODHDEVELOPERS.Models.plotReglist>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        ViewBag.Title = "PreSurrender";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        int a = 0;
    }
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <script type="text/javascript" src="~/Scripts/autosearch.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newbondid").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteBondAppl",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.newbondid, value: item.name };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
    <script>
        function remnamt() {
            debugger;
            var remain = $("#remainingamount").val();
            var amount = $("#amount").val();
            var deduct = $("#deductionamount").val();
            var commission = $("#commission").val();
            var amtcom = parseFloat(deduct) + parseFloat(commission);
            var remainamount = parseFloat(amount) - parseFloat(amtcom);
            if (remainamount >= deduct) {
                $("#remainingamount").val(remainamount);
                $("#alt").text('');
            }
            else {
                $("#alt").text("Deduct Amount Is Greater Than  paid Amount")
            }
        }
    </script>

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />




    <div class="container mt-5">
        <div class="page-toolbar-block pull-right">
            <div class="widget-info widget-from">
                <div>
                    <label>@DateTime.Now</label>
                </div>
            </div>
        </div>
        <h2 class="text-center mb-4 create-title">

            Pre Surrender
        </h2>
        @using (Html.BeginForm("PreSurrender", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="paymentForm" class="form-container">

                <!-- Associate ID -->
                <div class="form-group">
                    <label for="associateId" class="form-label"> Enter Customer ID :</label>
                    <input type="text" class="form-control" id="newbondid" placeholder="Enter ID" name="newbondid" required>
                </div>



                <!-- Submit Button -->
                <div class="text-center d-grid gap-2">
                    <button type="submit" class="btn create-btn" name="command" value="Search">Search</button>
                </div>
            </div>
           
     


        if (Model != null)
        {
            foreach (var item in Model)
            {
                var ramt = item.totalamount - item.commission;
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="block-content text-center">
                    <h2 class="create-title" style="margin-top:30px; margin-bottom:30px">Pre Surrender</h2>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Customer ID</label>
                        <input type="text" class="form-control" name="bondid" value="@item.newbondid" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Customer Name</label>
                        <input type="text" class="form-control" name="name" value="@item.name" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Booking Amount</label>
                        <input type="text" class="form-control" name="bookingamount" value="@item.bookingamount" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Plot No.</label>
                        <input type="text" class="form-control" name="plotno" value="@item.plotno" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Block</label>
                        <input type="text" class="form-control" name="block" value="@item.block" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Total Deposit Amount</label>
                        <input type="text" class="form-control" name="amount" value="@item.totalamount" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Commission</label>
                        <input type="text" class="form-control" name="commission" value="@item.commission" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Deduction Amount</label>
                        <input type="text" class="form-control" name="deductionamount" id="deductionamount" onclick="remnamt()" value="0" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Remaining Amount</label>
                        <input type="text" class="form-control" name="remainingamount" value="@ramt" readonly>
                    </div>

                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button id="submit" name="command" type="submit" class="btn btn-primary" value="submit" formnovalidate="formnovalidate">Submit</button>
            </div>

        </div>

        <p class="text-danger font-weight-bold ml-3">@ViewBag.prmsg</p>
    </div>
            }
        }


        }
    </div>




