
@using ODHDEVELOPERS.Models
@{
    UsersContext db = new UsersContext();
    ViewBag.Title = "ReceptionistList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var date = DateTime.Now.Date;
    var model = db.DailyVisitors.ToList();
    var a = 1;
}

<link href="~/assets/css1/main css/index.css" rel="stylesheet" />


<div class="container mt-5">

    <!-- Info Message -->
    <!-- Title -->
    <!-- Info Message -->
    <div class="info-message p-3 mb-4" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 5px; text-align: left;">
        Hello Mr. Admin, you can
        <span class="pbtn" style="background-color: red; color: white; padding: 5px 10px; border-radius: 5px; margin-left: 20px;">Deactivate</span> ,
        <span class="pbtn" style="background-color: #de9018; color: white; padding: 5px 10px; border-radius: 5px; margin-left: 20px;">Activate</span> ,
        <span class="pbtn" style="background-color: blue; color: white; padding: 5px 10px; border-radius: 5px; margin-left: 20px;">Update</span>
        this receptionist list.
    </div>




</div>

<div class="page-toolbar-block pull-right">
    <!-- <span style="color: #C21148; font-size: 15px">Today's Total Visitor</span> &nbsp;<span class="badge">totalvisitor</span>
    &nbsp;&nbsp;<span style="color: #C21148; font-size: 15px">Check In</span>&nbsp;<span class="badge">checkin</span>
    &nbsp;&nbsp;<span style="color: #C21148; font-size: 15px">Check Out</span> &nbsp;<span class="badge">checkout</span>
    <span style="visibility: hidden" class="badge">5</span>-->
</div>


@if (model.Count() > 0)
{



    <div class="index_body">
        <div class="table-container">
            <table>
                <thead>
                    <tr >
                        <th style="background-color:#FF5722">Sr No.</th>
                        <th style="background-color:#FF5722">Receptionist Id</th>
                        <th style="background-color:#FF5722">Receptionist Name</th>
                        <th style="background-color:#FF5722">User Name</th>
                        <th style="background-color:#FF5722">Password</th>
                        <th style="background-color:#FF5722">Office Code</th>
                        <th style="background-color:#FF5722">Created By</th>
                        <th style="background-color:#FF5722">Created Date</th>
                        <th style="background-color:#FF5722">Mobile No.</th>
                        <th style="background-color:#FF5722">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in model)
                    {
                        <tr>
                            <td><span>@a</span></td>
                            <td>@item.ReceptionistId</td>
                            <td >@item.ReceptionistName</td>
                            <td>@item.UserName</td>
                            <td>@item.Password.ToString().Substring(0, 1) *** @item.Password.ToString().Substring(3)</td>
                            <td>@item.OfficeCode</td>
                            <td>@item.CreaderBy</td>
                            <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                            <td><kbd style="font-size: 16px">@item.MobileNo</kbd></td>

                            <td>
                                @if (item.Status != 0)
                                {
                                    <button class="btn btn-success btn-sm click" style="font-weight:bold;background-color:#c71d1d" id="btn" value="@item.Status+@item.ReceptionistId" data-placement="bottom">Deactivate</button>
                                }
                                else
                                {
                                    <button class="btn btn-success btn-sm click" style="font-weight:bold;background-color:#8eb252" id="btn" value="@item.Status+@item.ReceptionistId" data-placement="bottom">Activate</button>
                                }
                                <button class="btn btn-info btn-sm update" style="font-weight:bold" id="@item.ReceptionistId+update">Update</button>
                            </td>
                        </tr>
                        @*
                            <tr  style="display:none;">
                                <td style="font-weight:bold">ReceptionistId :</td>
                                <td >@item.ReceptionistId</td>
                                <td style="font-weight:bold">Email Id :</td>
                                            <td>@item.EmailId</td>
                                <td style="font-weight:bold">Remark :</td>
                                            <td>@item.Remark</td>

                                        </tr>*@

                        a++;
                    }

                </tbody>
            </table>



        </div>

    </div>
 
}
else
{

    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">

            <span style=""><img src="~/Photo/odd.png" style="width:20%;float:left" class="img-responsive" /></span><span style="float:left;margin-top:38px;margin-left:37px;font-size:30px;font-weight:bold">Not Availiable</span><span><img src="~/Photo/search.png" style="width:20%;" class="img-responsive" /></span>
        </div>
        <div class="col-md-2">

        </div>

    </div>


}



<div id="myModal" style="margin-top: 150px; border: 0px;" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form method="post">
            <div class="modal-content" id="" style="border: 0px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color: #2f9fe0;">&times;</button>
                    <h4 class="modal-title" style="color: #2f9fe0;">Receptionist Detail...</h4>
                </div>
                <div class="modal-body">

                    <label>Receptionist Id :</label>
                    <input type="text" style="color: #2f9fe0;" name="ReceptionistId" id="ReceptionistId" class="form-control" readonly="true" />

                    <label>Receptionist Name :</label>
                    <input type="text" style="color: #2f9fe0;" name="ReceptionistName" id="ReceptionistName" class="form-control" />

                    <label>Mobile Number :</label>
                    <input type="text" style="color: #2f9fe0;" name="MobileNo" id="MobileNo" class="form-control" />

                    <label>Email Id :</label>
                    <input type="text" style="color: #2f9fe0;" name="EmailId" id="EmailId" class="form-control" />

                    <label>Address :</label>
                    <input type="text" style="color: #2f9fe0;" name="Address" id="Address" class="form-control" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="background-color: #2f9fe0; color: white;">Close</button>
                    <button type="submit" class="btn btn-warning pull-right bg-warning" style="background-color: #2f9fe0; color: white;">Save Update</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div id="snackbar">Some text some message..</div>


<script>
    var global;
    $(function () {

        $(".click").on("click", function () {
            debugger;
            var id = $(this).val(), array = id.split('+');
            $.get("/admin/VehicleApproveCancel", { RequestToken: array[1], status: array[0], Recogniser: "Active" }, function (d) {
                debugger;
                var btnname, color, snackbg, snackname;
                if (d != null) {
                    var token;
                    (d == 0) ? token = 1 : token = 0;
                    if (d == "0") {
                        btnname = "Activate";
                        color = "#8eb252";
                    }
                    else {
                        btnname = "Deactivate";
                        color = "#c71d1d";


                    }
                    if (token == "0") {

                        snackname = "Activated";
                        snackbg = "#8eb252";
                    }
                    else {

                        snackname = "Deactivated";
                        snackbg = "#c71d1d";

                    }
                    $("#btn").val(d + "+" + array[1])
                        .html(btnname)
                        .css("background-color", color);
                    var x = document.getElementById("snackbar");
                    x.style = "background-color:" + snackbg + ";font-size:16px;font-weight:bold";
                    x.innerHTML = snackname;
                    x.className = "show";
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

                }
            });
        });

        //Modal open with values
        $(".update").on('click', function () {
            var id = $(this).attr("id"), array = id.split('+');
            $.get("/admin/VehicleApproveCancel", { RequestToken: array[0], Recogniser: "getDetail" }, function (D) {
                debugger;
                var d = JSON.parse(D.replace('\///"/g', '"'))
                if (d != null) {
                    $("#ReceptionistId").val(d.ReceptionistId);
                    $('#ReceptionistName').val(d.ReceptionistName);
                    $('#MobileNo').val(d.MobileNo);
                    $('#EmailId').val(d.EmailId);
                    $('#Address').val(d.Address);
                    $('#myModal').modal();
                }
            });


        });

    });

</script>
