@model IEnumerable<ODHDEVELOPERS.Models.DatewiseCustomerList>
    @using ODHDEVELOPERS.Models;
    @{
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        Layout = "~/Views/Shared/_OperatorLayout.cshtml";
        ViewBag.Title = "Customer";
        var a = 0;
        var pr = db.Operators.Single(o => o.OperatorId == User.Identity.Name);
        var bb = db.Branchtabs.Single(o => o.BranchCode == pr.BranchCode);
        var planlist = (from p in db.Plans where p.status == 1 select p).ToList();
    }

    <link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />
    <link href="~/assets/css1/main css/index.css" rel="stylesheet" />



    <div class="container mt-5">

        <h2 class="text-center mb-4 create-title">@mr.custname List</h2>
        @using (Html.BeginForm())
        {
            <div id="hide">




                <div id="branchForm" class="form-container">





                    <div class="form-group">

                        <label for="collectionPointName" class="form-label">Select @mr.planname Type</label>
                        <select name="option" required class="form-control">
                            <option selected disabled="disabled">--Select--</option>
                            @foreach (var plan in planlist)
                            {
                                <option value="@plan.Plancode">@plan.shortcutname</option>
                            }
                            <option value="0">All</option>
                        </select>

                    </div>

                    <!-- Create Button -->
                    <div class="text-center d-grid gap-2">
                        <button type="submit" id="submit" value="Search" class="btn create-btn">View</button>
                    </div>






                </div>
            </div>



        }

        <div class="index_body">
            <div class="table-container">
                <table>

                    @using (Html.BeginForm())
                    {
                        foreach (var item in Model)
                        {
                            if (a == 0)
                            {
                                <thead>
                                    <tr>
                                        <th colspan="4" style="background-color:#ff5722; color:white">@mr.branchname Name:@bb.BranchName</th>
                                        <th colspan="4" style="background-color:#ff5722; color:white"><b>@mr.custname List</b></th>
                                        <th colspan="4" style="background-color:#ff5722; color:white"><b>Dated:@Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</b></th>
                                    </tr>
                                </thead>

                                <thead>
                                    <tr>
                                        <th>
                                            <label id="sn"><b>S.N.</b></label>
                                        </th>
                                        <th>
                                            <label id="newid"><b>@mr.custname Id</b></label>
                                        </th>

                                        <th>
                                            <label id="introducerid"><b>Name</b></label>
                                        </th>

                                        <th>
                                            <label id="spilid"><b>Introducer Id</b></label>
                                        </th>



                                        <th>
                                            <label id="position"><b>@mr.planname Name</b></label>
                                        </th>
                                        <th>
                                            <label><b>Booking Amount</b></label>
                                        </th>
                                        <th>
                                            <label><b>Adv. Payment</b></label>
                                        </th>
                                        <th>
                                            <label><b>Plot Size</b></label>
                                        </th>
                                        <th>
                                            <label id="doj"><b>Payment </b></label>
                                        </th>
                                        <th>
                                            <label id="email"><b>Mobile No</b></label>
                                        </th>

                                        <th>
                                            <label><b>Date of Joining</b></label>
                                        </th>

                                        <th>
                                            <label><b>Action</b></label>
                                        </th>

                                    </tr>
                                </thead>
                            }
                            a = a + 1;

                            <tbody>
                                <tr>
                                    <td>
                                        @a
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.newbondid)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.newintroducerid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.planname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.bookingamount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.downpayment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.plotsize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.payment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mobile)
                                    </td>

                                    <td>
                                        @Convert.ToDateTime(item.formdate).ToString("dd/MM/yyyy")
                                    </td>

                                    <td>
                                        @Html.ActionLink("View Detail", "Customer", new { newbondid = item.newbondid }, new { target = "_blank" })
                                    </td>


                                </tr>
                            </tbody>

                        }

                    }



                </table>

                @if (a > 0)
                {

                    <!-- Create Button -->
                    <div class="text-center d-grid gap-2">

                        <a href="@Url.Action("PrintCustomer")" target="_blank" class="btn create-btn" style="margin-top:10px">Get Report In PDF</a>
                    </div>
              
                }





            </div>
        </div>
    </div>
