@using ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    ViewBag.Title = "PartPayment";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);   
    DateTime dt = DateTime.Now.Date;
    Formdate fd = new Formdate();
    var row = db.Operators.Single(ci => ci.OperatorId == User.Identity.Name);
    var count = db.Formdates.Where(o => o.opid == row.BranchCode).Count();
    if (count > 0)
    {
        fd = db.Formdates.Single(o => o.opid == row.BranchCode);
        if (fd.status == 2)
        {
            dt = fd.formdate;
        }     
    }  
}
<link href="~/assets/css1/main css/Forms.css" rel="stylesheet" />
<link href="~/assets/css1/main css/index.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#BondId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompletePartBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };
                        }))
                    }
                })
            }
        });
    })
</script>

<script type="text/javascript">

    ///checkin Renewel-Status Start here ////

    function check(clicked_id) {
        //  $("#" + clicked_id).click(function () {
        var pr = $('#progress');
        pr.attr('class', 'fa fa-pulse fa-spinner text-warning');
            var opid = $("#opid").val();
            var newbondid = $("#BondId").val();
            var url = '@Url.Action("SearchPartRenewal","Branch")';
            $.get(url, { newbondid: newbondid, opid: opid }, function data(t) {
                for (i = 0; i < t.length; i++) {
                    if (t[i].type == 1) {

                        $("#rdmsg,#pd").css('display', 'none').slideUp();
                        $("#rd").css('display', '').slideDown();

                        $("#lblname").text(t[i].name);
                        $("#lblnewbondid").text(t[i].newbondid);
                        $("#lblintid").text(t[i].newintroducerid);
                        $("#lbllins").text(t[i].previnstall);
                        $("#lblmob").text(t[i].mobileno);
                        //$("#lblnewbondname").text(t[i].bondname)
                        //$("#lblintname").text(t[i].introname)
                    }
                    else if (t[i].type == 2) {
                        $("#rd,#pd").css('display', 'none').slideUp();
                        $("#rdmsg").css('display', '').slideDown();

                        $("#lblbondid").text(t[i].newbondid);
                        $("#lblmsg").text(t[i].msg);
                    }
                }
                pr.attr('class', 'fa fa-check text-success');
            });

       // });
    }

    ///selecting Renewel-Details Start here ////

    function selectdetail(clicked_id) {
        // $("#" + clicked_id).click(function () {
        debugger;
        var p2 = $('#progress');
        p2.attr('class', 'fa fa-pulse fa-spinner text-warning');           
        $("#rdmsg,#rd").css('display', 'none').slideUp();
        $("#pd").css('display', '').slideDown();
           
            var toinstall = $("#to");
           
            var newbondid = $("#BondId").val();
            $("#newbondid").val(newbondid);
            var url = '@Url.Action("selectpartdetail","Branch")';
            $.get(url, { newbondid: newbondid }, function data(t) {
                toinstall.children().remove();
                debugger;
                for (i = 0; i < t.length; i++) {
                   
                    $("#planname").val(t[i].planname);
                    $("#term").val(t[i].term);
                    $("#bondname").val(t[i].bondname);
                    $("#introname").val(t[i].introname);
                    $("#from").val(t[i].from);
                    $("#totalplotcost").val(t[i].totalplotcost);
                    $("#paidamount").val(t[i].paidamount);
                    $("#dueamount").val(t[i].dueamount);
                }
                p2.attr('class', 'fa fa-check text-success');
            });
           
        //});

    }

    ///selecting to installment Start here ////
    function SetPayamount(setid) {

        $("#" + setid).click(function () {

            var newbondid = $("#BondId").val();
            var amount = $('#amount').val();
            var latefine = $("#latefine").val();

            var url = '@Url.Action("SetPayamount","Branch")';
            $.get(url, { newbondid: newbondid, amount: amount, latefine: latefine }, function data(t) {
                for (var i = 0; i < t.length; i++) {

                    $("#payamount").val(t[i].payamount)
                    $("#payamout1").val(t[i].payamount)
                    $("#amountinword").val(t[i].amountinwords)

                }

            });

        });

    }
</script>

<script>
    function detail(chkid) {
        var chk = $("#" + chkid).val();
        if (chk == "Cheque") {
            $("#detail").show();
            $("#dd").hide();
            $("#trdetail").hide();
        }
        else if (chk == "DD") {
            $("#dd").show();
            $("#detail").hide();
            $("#trdetail").hide();
        }
        else if (chk == "banktransaction") {
            $("#dd").hide();
            $("#detail").hide();
            $("#trdetail").show();
        }
        else {
            $("#detail").hide();
            $("#dd").hide();
            $("#trdetail").hide();
        }
    }
</script>





<div class="container mt-5">
    <h2 class="text-center mb-4 create-title">Part Payment</h2>
    @using (Html.BeginForm("PartPayment", "Operartor", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        <div id="branchForm" class="form-container">

            <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
            <input type="hidden" value="@User.Identity.Name" id="opid" />


            <!-- Collection Point Name -->
            <div class="form-group">
                <label for="collectionPointName" class="form-label">@mr.custname Id or Name</label>
                <input type="text" class="form-control " name="newbondid" id="BondId" placeholder="Enter Id" required>
            </div>


            <!-- Create Button -->
            <div class="text-center d-grid gap-2">
                <button type="button" onclick="check(this.id)" id="search" class="btn create-btn"><i class="fa fa-search"></i> Search</button>
            </div>


           
                        <div style="float: left;">
                            <p style="color: maroon;font-size:small;"><b>@ViewBag.msg</b></p>
                            @if (Convert.ToString(ViewData["paymethod"]) == "Cheque" || Convert.ToString(ViewData["paymethod"]) == "banktransaction")
                            {
                                @Html.ActionLink("Print Receipt", "PrintChequeackReceipt", new { newbondid = ViewData["newbondid"], paymentno = ViewData["paymentno"] }, new { onclick = "return confirm('Are you sure to Print?'),target='_blank'" })
                            }
                            else if (Convert.ToString(ViewData["paymethod"]) == "Cash" || Convert.ToString(ViewData["paymethod"]) == "DD")
                            {
                                @Html.ActionLink("Print Receipt", "PrintRenewalReport", new { paymentno = ViewData["paymentno"] }, new { onclick = "return confirm('Are you sure to Print?'), target='_blank'" })
                            }
                        </div>
                    </div>

              
            }


    <div class="index_body">
        <div class="table-container">

            <table id="rdmsg" style="display: none;">
                <thead>
                    <tr>
                        <th colspan="100%" style="background-color: #ff5722; color: white; text-align: center; padding: 10px; font-size: x-large">
                            Renewal Status

                        </th>

                    </tr>
                </thead>

                <thead>
                    <tr>

                        <th>
                            <label id="bid"><b>@mr.custname Id</b></label>
                        </th>

                        <th>
                            <label id="msg"><b>Message</b></label>
                        </th>



                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>
                            <label id="lblbondid"></label>
                        </td>
                        <td>
                            <label id="lblmsg"></label>
                        </td>

                    </tr>
                </tbody>
            </table>

            <table id="rd" style="display: none;">

                <thead>
                    <tr>
                        <th colspan="100%" style="background-color: #ff5722; color: white; text-align: center; padding: 10px; font-size: x-large">
                            <b>Renewal-Detail </b>

                        </th>

                    </tr>
                </thead>

                <thead>
                    <tr>
                        <th>
                            <label id="sn"><b>Name</b></label>
                        </th>
                        <th>
                            <label id="cc"><b>@mr.custname Id</b></label>
                        </th>

                        <th>
                            <label id="c2c"><b>@mr.agentname Id</b></label>

                        <th>
                            <label id="iii"><b>Last Installment</b></label>
                        </th>
                        <th>
                            <label><b>Mobile No</b></label>
                        </th>

                        <th>
                            <label id="action"><b>Action</b></label>
                        </th>



                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label id="lblname"></label>
                        </td>
                        <td>
                            <label id="lblnewbondid"></label>
                        </td>

                        <td>
                            <label id="lblintid"></label>
                        </td>

                        <td>
                            <label id="lbllins"></label>
                        </td>
                        <td>
                            <label id="lblmob"></label>
                        </td>
                        <td style="width: 10%; text-align: center;">
                            <button type="button" id="mp" class="btn btn-primary" onclick="selectdetail(this.id)"><b><i class="fa fa-credit-card"></i> Proceed To Pay</b></button>
                        </td>

                    </tr>
                </tbody>

            </table>

      

                <table id="pd" style="display: none;">
                    <tr>
                        <td>
                            <form method="post" enctype="multipart/form-data" id="PartPaymentSubmit">

                                <div id="branchForm" class="form-container">
                                    <h2 class="text-center mb-4 create-title">@mr.planname Details</h2>






                                    <div class="form-group">




                                        <label class="form-label">@mr.custname Id </label>


                                        <input type="text" class="form-control" name="newbondid2" id="newbondid" readonly="true" required />
                                    </div>


                                    <div class="form-group">




                                        <label class="form-label">@mr.custname Name </label>


                                        <input type="text" class="form-control" name="bondname" id="bondname" readonly="true" required />
                                    </div>


                                    <div class="form-group">




                                        <label class="form-label">@mr.agentname Name </label>


                                        <input type="text" class="form-control" name="introname" id="introname" readonly="true" required />
                                    </div>


                                    <div class="form-group">




                                        <label class="form-label">@mr.planname Name </label>


                                        <input type="text" class="form-control" name="planname" id="planname" readonly="true" required />
                                    </div>

                                    <div class="form-group">




                                        <label class="form-label">Term(Yr.) </label>

                                        <input type="text" class="form-control" name="Term" id="term" readonly="true" required />
                                    </div>

                                    <div class="form-group">




                                        <label class="form-label">@mr.planname Mode </label>

                                        <input type="text" class="form-control" name="mode" id="mode" readonly="true" value="PART" required />
                                    </div>


                                    <div class="form-group">



                                        <label class="form-label">Installment No</label>

                                        <input type="number" class="form-control" id="from" name="from" readonly="true" required />

                                    </div>

                                    <div class="form-group">



                                        <label class="form-label">Total Plot Cost</label>

                                        <input type="number" class="form-control" id="totalplotcost" readonly="true" />

                                    </div>

                                    <div class="form-group">



                                        <label class="form-label">Paid Amount</label>

                                        <input type="number" class="form-control" id="paidamount" readonly="true" />

                                    </div>

                                    <div class="form-group">



                                        <label class="form-label">Due Amount</label>

                                        <input type="number" class="form-control" id="dueamount" readonly="true" />

                                    </div>


                                    <div class="form-group">

                                        <div style="margin-left: 46%;">
                                            <div class="widget-info widget-from">
                                                <button id="submit" type="submit" class="btn btn-primary" onclick="return confirm('Are you sure to Submit Renewel?')">Submit</button>
                                                &nbsp;&nbsp;
                                                <p>@ViewBag.msg</p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div id="branchForm" class="form-container">
                                    <h2 class="text-center mb-4 create-title">Payment Details</h2>

                                    

                                                <div class="form-group">



                                                    <label class="form-label">Payment Mode </label>

                                                    <input type="radio" id="paymethod" name="paymethod" value="Cash" checked onclick="detail(this.id)">
                                                    Cash
                                                    <input type="radio" id="paymethod2" name="paymethod" value="DD" onclick="detail(this.id)">
                                                    DD
                                                    <input type="radio" id="paymethod3" name="paymethod" value="Cheque" onclick="detail(this.id)">
                                                    Cheque
                                                    <input type="radio" id="paymethod4" name="paymethod" value="banktransaction" onclick="detail(this.id)">
                                                    Bank Transaction
                                                </div>
                                           

                                        <div class="form-group">





                                            <label class="form-label">Payment Date</label>

                                            <input type="text" id="pdate" name="pdate" class="form-control" value="@dt" readonly="true" required />
                                        </div>

                                  
                                <div class="row-form" id="dd" style="display: none;">
                                    <div class="form-group">




                                        <label class="form-label">DD No. </label>

                                        <input type="text" id="checkorddno" name="checkorddno" class="form-control" />
                                    </div>
                                </div>

                                                     <div class="form-group">

                                                        
                                                            
                                                            
                                                                    <label class="form-label">Draw No. </label>
                                                            
                                                                <input type="text" id="drawno" name="drawno" class="form-control" />
                                                            </div>
                                                  

                                                <div class="row-form" id="detail" style="display: none;">
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Bank Name </label>
                                                            
                                                                <input type="text" id="bank" name="bank" class="form-control" />
                                                            </div>
                                                        </div>
                                                    
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">A/C No. </label>
                                                            
                                                                <input type="text" id="ACNO" name="Account" class="form-control" />
                                                            </div>
                                                       
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Cheque No. </label>
                                                            
                                                                <input type="text" id="chequeno" name="chequeno" class="form-control" />
                                                            </div>
                                                     
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">A/C Holder Name </label>
                                                            
                                                                <input type="text" id="ACname" name="ACholdername" class="form-control" />
                                                            </div>
                                                       
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Branch Name </label>
                                                            
                                                                <input type="text" id="barnch" name="Bbranch" class="form-control" />
                                                            </div>
                                                      
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">IFSC </label>
                                                            
                                                                <input type="text" id="IFSCcode" name="IFSCCode" class="form-control" />
                                                            </div>
                                                     
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Amount </label>
                                                            
                                                                <input type="text" id="Amount" name="ChequeAmount" class="form-control" />
                                                            </div>
                                                      
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Cheque Date </label>
                                                            
                                                                <input type="date" id="Date" value="@dt" name="Chequedate" class="form-control" />
                                                            </div>
                                                       
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Cheque Image </label>
                                                            
                                                                <input type="file" id="Chequeimage" name="Chequeimage" class="form-control" />
                                                            </div>
                                                   
                                                <div class="row-form" id="trdetail" style="display: none; margin-bottom: 10%;">
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Bank Name </label>
                                                            
                                                                <select id="trbank" name="trbank" class="form-control">
                                                                    <option>select</option>
                                                                    @foreach (var blist in db.BankDetail_Tabs.ToList())
                                                                    {

                                                                        <option value="@blist.bankname">@blist.bankname</option>

                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Transaction Id </label>
                                                            
                                                                <input type="text" id="transactionid" name="transactionid" class="form-control" />
                                                            </div>
                                                      
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Transaction Date </label>
                                                            
                                                                <input type="date" id="transactiondate" name="transactiondate" class="form-control" />
                                                            </div>
                                                      
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Amount </label>
                                                            
                                                                <input type="text" id="tramount" name="tramount" class="form-control" />
                                                            </div>
                                                      
                                                     <div class="form-group">
                                                        
                                                            
                                                            
                                                                    <label class="form-label">Pay Method </label>
                                                            

                                                                <input type="radio" id="trpmethod1" name="transactiontype" value="NEFT" checked>
                                                                NEFT
                                                                <input type="radio" id="trpmethod2" name="transactiontype" value="IMPS" />
                                                                IMPS
                                                                <input type="radio" id="trpmethod3" name="transactiontype" value="RTGS" />
                                                                RTGS
                                                                <input type="radio" id="trpmethod4" name="transactiontype" value="UPI" />
                                                                UPI
                                                                <input type="radio" id="trpmethod5" name="transactiontype" value="NACH" />
                                                                NACH
                                                            </div>
                                                      
                                                     <div class="form-group">

                                                        
                                                            
                                                            
                                                                    <label class="form-label">A/C Holder's A/C No. </label>
                                                            
                                                                <input type="text" id="holderacno" name="holderacno" class="form-control" />
                                                            </div>
                                                  

                                                 <div class="form-group">

                                                    
                                                        
                                                        
                                                                <label class="form-label">Late Fine(Rs.) </label>
                                                        
                                                            <input type="number" class="form-control" id="latefine" name="latefine" value="0" onclick="SetPayamount(this.id)" required />
                                                        </div>
                                                   
                                                 <div class="form-group">

                                                    

                                                        
                                                        
                                                                <label class="form-label">Part Payment(Rs.)</label>
                                                        
                                                            <input type="text" class="form-control" id="amount" name="amount" value="0" onclick="SetPayamount(this.id)" required />
                                                            <input type="hidden" id="payamout1" />
                                                        </div>
                                                   
                                                 <div class="form-group">

                                                    

                                                        
                                                        
                                                                <label class="form-label">Pay Amount(Rs.)</label>
                                                        
                                                            <input type="text" class="form-control" id="payamount" name="payamount" readonly="true" required />

                                                        </div>
                                                    
                                                 <div class="form-group">

                                                    
                                                        
                                                        
                                                                <label class="form-label">Amount In Words </label>
                                                        
                                                            <textarea name="amountinword" class="form-control" id="amountinword" readonly="true" required></textarea>
                                                        </div>
                                                    </div>
                                               
                               
                            </form>
                        </td>
                    </tr>



                </table>

                @*   <h4>@ViewBag.msg</h4>*@
            </div>

        </div>

</div>


<script type="text/javascript">
    $(function () {
        $('#PartPaymentSubmit').submit(function (event) {
            debugger;
            var dueamount = parseFloat($('#dueamount').val()), amount = parseFloat($('#amount').val());
            if (amount  > dueamount) {
                event.preventDefault();
                alert('Please enter pay amount less than or equal to dueamount...');
            }
        });
    });
</script>