@model IEnumerable<ODHDEVELOPERS.Models.Pension_Tab>
@using ODHDEVELOPERS.Models
@{
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    ViewBag.Title = "PPlanList";
    var a = 0;

    UsersContext db = new UsersContext();
    var row = db.Plans.Single(c => c.Plancode == 4);
    var mr = db.Members.Single(m => m.Id == 1);  
}


<div class="page-content">
                <div class="container" id="divid">
                  
<div class="page-toolbar" >
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">@row.Planname List</div>
                            <div class="page-toolbar-subtitle"> </div>
                        </div>
                               <div class="page-toolbar-block pull-right">
                         
                        </div>    
                              
<table border="1" style="margin-left:1%; margin-right:1%; margin-bottom:60px; width:98%;">
   
    @foreach(var item in Model){
        if(a==0)
        {
  <tr>
        <th style="width:5%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
        <th style="width:10%;text-align:center;">
           <label id="newid"><b>@mr.planname Name</b></label>
            </th>

        <th style="width:5%;text-align:center;">
           <label ><b>Term</b></label>
            </th>
        
       @* <th style="width:10%;text-align:center;">
           <label id="introducerid"><b>Plot Size</b></label>
        </th>*@

        <th style="width:10%;text-align:center;">
           <label><b>Plot Value</b></label>
        </th>
            
        <th style="width:10%;text-align:center;">
           <label><b>Monthly</b></label>
        </th>
            
       <th style="width:10%;text-align:center;">
           <label><b>Quarterly</b></label>
        </th>
            
        <th style="width:10%;text-align:center;">
           <label><b>Half Yearly</b></label>
        </th>
             
          <th style="width:10%;text-align:center;">
           <label><b>Yearly</b></label>
        </th>
              <th style="width:10%;text-align:center;">
           <label><b>Profit</b></label>
        </th>
         <th style="width:10%;text-align:center;">
        <label id="email"><b>ERV</b></label>
        </th>

        
         
    </tr>
        }

        a = a + 1;
    <tr style="text-align:center;">
        <td>
            @a
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Planname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term)
        </td>
        
      @*  <td>
            @Html.DisplayFor(modelItem => item.Plotsize)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Monthly)
        </td>
         
        <td>
            @Html.DisplayFor(modelItem => item.Quarterly)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Halfyearly)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Yearly)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Profit)
        </td>
        
         <td>
            @Html.DisplayFor(modelItem => item.EstimatedValue)
        </td>
    
             
    </tr>
    } 

</table>
    @if (a > 0)
    {
          <a href="@Url.Action("PrintPPlanReport")" target="_blank">Get Report In PDF</a>
    }
                    </div> 


                

      
                    </div>


    </div>

