@model IEnumerable<ODHDEVELOPERS.Models.SavingAccountInfo>
@using ODHDEVELOPERS.Models;
@{
        Layout = "~/Views/Shared/_OperatorLayout.cshtml";
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);
        var a = 0;
        ViewBag.Title = "PrintSavingPassBookDetail";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#accountno").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Operator/AutoCompleteAccountno",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.acholdername, value: item.accountno };


                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });


    })
</script>

<div class="page-content">

                <div class="container">

                    <div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Print Passbook Detail</div>
                            <div class="page-toolbar-subtitle"> </div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                            
                        </div>           
                        
                    </div>  

                           <div class="row" >
                                @using (Html.BeginForm())
                                {   
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls">
                                     
                                          <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
                                   
                                   <div class="row-form">  
                                         
                                    <div class="col-md-9">
                                      <div class="input-group">
                                    <span class="input-group-addon"><label class="width">A/C No or Name</label></span>  
                                    <input type="text"  class="form-control"  name="accno" id="accountno" ></div>
                                   
                                        </div>
                                   </div>
                                   <div class="page-toolbar-block pull-right">
                            <div class="widget-info widget-from">
                                                          
                                <button type="submit"  class="btn btn-primary"  id="search"><i class="fa fa-search"></i> Search</button>                            
                               
                            </div>
                        </div>  
                                     
                                 
                                </div>
                                
                            </div>
                            </div>
                                }
                               <div class="col-md-6" style="width:100%">
                                   
                                  
               <table id="rd" border="1" style="margin-left:1%; margin-right:1px; width:98%;">
    @foreach (var item in Model)
    {
        if (a == 0)
        {
         <tr >
                                <th  colspan="6" style="text-align:center;font-size:large;height:50px;"><b>Passbook Detail </b>

                                </th>
                            
                
                         </tr>
    
                   

         <tr style="font-size:medium;height:40px;">
        
        <th style="width:25%;text-align:center;">
           <label id="cc"><b>@mr.custname Id</b></label>
            </th>
             <th style="width:25%;text-align:center;">
           <label id="sn"><b>Name</b></label>
            </th>
        <th style="width:25%;text-align:center;">
           <label id="pp "><b>Member Id</b></label>
            </th>
            
        <th style="width:25%;text-align:center;">
           <label id="action"><b>Action</b></label>
            </th>
        
 
      
    </tr>
        }
        a = a + 1;
         <tr style="text-align:center;">
        
        <td>
            @Html.DisplayFor(modelItem => item.accountno)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.acholdername)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.newmemberid)
        </td>
       
        <td>
            @Html.ActionLink("Print Passbook Detail in PDF", "PDFPrintSavingPassBookDetail", new { accno = item.accountno }, new { onclick = "return confirm('Are you sure to Print Passbook Detail?'),target='_blank'" })
        </td>
        
    </tr>
    } 
                   
  
   
</table> 
  

<h4>@ViewBag.msg</h4>
                        </div>          
                        
                    </div>
  
    </div>
    </div>



