@model IEnumerable<ODHDEVELOPERS.Models.BrokerChain>
@using ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
    ViewBag.Title = "BrokerChain";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var a = 0;
    var br = db.Branchtabs.Single(o => o.BranchCode == User.Identity.Name);
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#newagent").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteAgentid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })  
</script>  

     <div class="container mt-4 FormContainer">
         <h2 class="text-center mb-4">@mr.agentname Chain List</h2>
         <div class="border p-4 rounded shadow formtag">
             @using (Html.BeginForm())
             {
                 <!-- Project Year -->
                 <div class="mb-3">
                     <label for="year" class="form-label formLabel">Enter @mr.agentname ID:</label>
                     <input type="text" id="newagent" name="newagentid" class="form-control formInput" required>
                 </div>

                 <!-- Create Button -->
                 <div class="text-center d-grid gap-2">
                     <button class="btn btn-lg formButtom"><i class="fa fa-search"></i>Search</button>
                 </div>
             }
         </div>
         <table class="bg-white mt-3">
             @foreach (var item in Model)
             {
                 if (a == 0)
                 {
                     <thead>
                         <tr style="">
                             <th colspan="2" class="header-row" style="border-radius: 8px 0 0 0;;"> @mr.agentname Chain List </th>
                             <th colspan="2" class="header-row" style="border-radius: 0px;">Date:@Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</th>
                             <th colspan="2" class="header-row" style="border-radius: 0 8px 0 0;">@mr.branchname Name:@br.BranchName</th>
                         </tr>
                         <tr>
                             <th><label id="sn"><b>S.N.</b></label></th>
                             <th><label id="NewAgentId"><b>@mr.agentname Id</b></label></th>
                             <th><label id="name"><b>@mr.agentname Name</b></label></th>
                             <th><label id="RankCode"><b>@mr.rankname</b></label></th>
                             <th><label id="BranchCode"><b>Introducer Id</b></label></th>
                             <th><label id="Mobile"><b>Introducer Name</b></label></th>
                         </tr>
                     </thead>
                 }
                 a = a + 1;
                 <tbody>
                     <tr>
                         <td>@a</td>
                         <td>@Html.DisplayFor(modelItem => item.newagentid)</td>
                         <td>@Html.DisplayFor(modelItem => item.name)</td>
                         <td>@Html.DisplayFor(modelItem => item.rankname)</td>
                         <td>@Html.DisplayFor(modelItem => item.introducerid)</td>
                         <td>@Html.DisplayFor(modelItem => item.introname)</td>
                     </tr>
                 </tbody>
             }
         </table>
         @if (a > 0)
         {
            <a href="@Url.Action("PrintBrokerChainReport")" target="_blank">Get Report In PDF</a>
         }

 </div>


