@using  ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
    ViewBag.Title = "ChequePayment";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
}



@*<script type="text/javascript">
    $(document).ready(function () {
        $("#BondId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompletePPSBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>*@



<script type="text/javascript">

    ///checkin Renewel-Status Start here ////

    function check(clicked_id) {
        $("#" + clicked_id).click(function () {

            var receiptno = $("#BondId").val();
            var url = '@Url.Action("Searchcheque","Branch")';
            $.get(url, { receiptno: receiptno }, function data(t) {
                for (i = 0; i < t.length; i++) {
                    if (t[i].type == 1) {

                        $("#rdmsg").hide();
                        $("#pd").hide();
                        $("#rd").show();

                        $("#lblname").text(t[i].name)
                        $("#lblnewbondid").text(t[i].newbondid)
                        $("#lblintid").text(t[i].newintroducerid)
                        $("#lbllins").text(t[i].previnstall)
                        $("#lblmob").text(t[i].mobileno)
                    }
                    else if (t[i].type == 2) {
                        $("#rd").hide();
                        $("#pd").hide();
                        $("#rdmsg").show();

                        $("#lblbondid").text(t[i].newbondid)
                        $("#lblmsg").text(t[i].msg)

                    }
                }
            });

        });

    }

    ///selecting Renewel-Details Start here ////

    function selectdetail(clicked_id) {
        $("#" + clicked_id).click(function () {
            
            $("#rd").hide();
            $("#rdmsg").hide();
            $("#pd").show();
            
            var toinstall = $("#to");
            
            var newbondid = $("#BondId").val();
            $("#newbondid").val(newbondid);
            var url = '@Url.Action("selectppsdetail","Branch")';
            $.get(url, { newbondid: newbondid }, function data(t) {
                toinstall.children().remove();
                for (i = 0; i < t.length; i++) {
                    
                    $("#planname").val(t[i].planname)
                    $("#term").val(t[i].term)
                    $("#mode").val(t[i].mode)

                    var date = new Date(parseInt(t[i].prevexpirydate.replace("/Date(", "").replace(")/", ""), 10));
                    var day = ('0' + date.getDate()).slice(-2);
                    var month = ('0' + (date.getMonth() + 1)).slice(-2);
                    var parsedDate = (month) + "/" + (day) + "/" + date.getFullYear();
                    $('#prevexpirydate').val(parsedDate);

                    var edate = new Date(parseInt(t[i].expirydate.replace("/Date(", "").replace(")/", ""), 10));
                    var eday = ('0' + edate.getDate()).slice(-2);
                    var emonth = ('0' + (edate.getMonth() + 1)).slice(-2);
                    var eparsedDate = (emonth) + "/" + (eday) + "/" + edate.getFullYear();
                    $('#nextduedate').val(eparsedDate);

                    $("#from").val(t[i].from)
                    toinstall.append('<option value="' + t[i].installmentno + '">' + t[i].installmentno + '</option>');
                    $("#latefine").val(t[i].latefine)
                    $("#Relief").val(t[i].relief)
                    $("#payamount").val(t[i].payamount)
                    $("#amountinword").val(t[i].amountinwords)
                   
                }
                
            });
           
        });

    }

    ///selecting to installment Start here ////
    function selectto(to_id) {

        $("#" + to_id).click(function () {

            var newbondid = $("#BondId").val();
            var froms = $('#from').val();
            var to = $("#to").val();
            
            var url = '@Url.Action("selectreset","Branch")';
            $.get(url, { newbondid: newbondid, froms: froms, to: to }, function data(t) {
                for (var i = 0; i < t.length; i++) {

                    var edate = new Date(parseInt(t[i].expirydate.replace("/Date(", "").replace(")/", ""), 10));
                    var eday = ('0' + edate.getDate()).slice(-2);
                    var emonth = ('0' + (edate.getMonth() + 1)).slice(-2);
                    var eparsedDate = (emonth) + "/" + (eday) + "/" + edate.getFullYear();
                    $('#nextduedate').val(eparsedDate);

                    $("#latefine").val(t[i].latefine)
                    $("#payamount").val(t[i].payamount)
                    $("#amountinword").val(t[i].amountinwords)


                }
                
            });

        });

    }

    ///selecting to installment Start here ////
    function chekrelief(to_id) {

        $("#" + to_id).mouseover(function () {

            var relief = $("#Relief").val();
            var payamount = $('#payamount').val();
            var latefine = $("#latefine").val();

            var url = '@Url.Action("chekrelief","Branch")';
            $.get(url, { relief: relief, payamount: payamount, latefine: latefine }, function data(t) {
                for (var i = 0; i < t.length; i++) {
                    if (t[i].type == 0) {

                        $("#Relief").val(t[i].relief)
                        $("#latefine").val(t[i].latefine)
                        $("#payamount").val(t[i].payamount)
                        $("#amountinword").val(t[i].amountinwords)
                        alert(t[i].msg)

                    }
                    else if (t[i].type == 1) {

                        $("#Relief").val(t[i].relief)
                        $("#latefine").val(t[i].latefine)
                        $("#payamount").val(t[i].payamount)
                        $("#amountinword").val(t[i].amountinwords)
                    }

                }
            });

        });

    }

</script>



<div class="page-content">

                <div class="container">

                    <div class="page-toolbar">
                        
                        <div class="page-toolbar-block">
                            <div class="page-toolbar-title">Cheque Payment</div>
                            <div class="page-toolbar-subtitle"> </div>
                        </div>
                        
                        <div class="page-toolbar-block pull-right">
                            
                        </div>           
                        
                    </div>  

                           <div class="row" >
               @using (Html.BeginForm())
               {   
                        <div class="col-md-6" style="width:100%">
                            
                            <div class="block" >
                               
                                <div class="block-content controls">
                                     
                                          <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
                                   
                                   <div class="row-form">  
                                         
                                    <div class="col-md-9">
                                      <div class="input-group">
                                    <span class="input-group-addon"><label class="width">Voucher No.</label></span>  
                                    <input type="text"  class="form-control"  name="newbondid" id="BondId" ></div>
                                   
                                        </div>
                                   </div>
                                   <div class="page-toolbar-block pull-right">
                            <div class="widget-info widget-from">
                                                          
                                <button type="button"  class="btn btn-primary" onclick="check(this.id)" id="search"><i class="fa fa-search"></i> Search</button>                            
                               
                            </div>
                        </div>  
                                     
                                 
                                </div>
                                
                            </div>
                            </div>
                                }
                               <div class="col-md-6" style="width:100%">
                                   <table id="rdmsg" border="1" style="margin-left:1%; margin-right:1px; width:98%;display:none;">
   
                            <tr >
                                <th  colspan="2" style="font-size:large;text-align:center;height:50px;">Renewal Status

                                </th>
                            
                            </tr>
         
                            <tr style="font-size:medium;height:40px;">
        
                          <th style="width:20%;text-align:center;">
           <label id="bid"><b>@mr.custname Id</b></label>
            </th>
        
                           <th style="width:80%;text-align:center;">
           <label id="msg"><b>Message</b></label>
            </th>
        
 
      
    </tr>

                            <tr style="text-align:center;">
        <td>
           <label id="lblbondid"></label>
        </td>
        <td>
           <label id="lblmsg"></label>
        </td>
       
    </tr>
               </table>
                                  
               <table id="rd" border="1" style="margin-left:1%; margin-right:1px; width:98%;display:none;">
   
         <tr >
                                <th  colspan="6" style="text-align:center;font-size:large;height:50px;"><b>Payment-Detail </b>

                                </th>
                            
                            </tr>
         
         <tr style="font-size:medium;height:40px;">
        <th style="width:25%;text-align:center;">
           <label id="sn"><b>Name</b></label>
            </th>
        <th style="width:20%;text-align:center;">
           <label id="cc"><b>@mr.custname Id</b></label>
            </th>
        <th style="width:15%;text-align:center;">
           <label id="pp "><b>Introducer Id</b></label>
            </th>
             <th style="width:5%;text-align:center;">
           <label id="iii"><b>Last Installment</b></label>
            </th>
        <th style="width:10%;text-align:center;">
           <label id="dd"><b>Mobile No</b></label>
            </th>
                
        <th style="width:25%;text-align:center;">
           <label id="action"><b>Action</b></label>
            </th>
        
 
      
    </tr>
         <tr style="text-align:center;">
        <td>
            <label id="lblname"></label>
        </td>
        <td>
          <label id="lblnewbondid"></label>
        </td>
        <td>
             <label id="lblintid"></label>
        </td>
        <td>
             <label id="lbllins"></label>
        </td>
        <td>
            <label id="lblmob"></label>
        </td>
         <td style="width:10%;text-align:center;">
           <button type="button" id="mp"  class="btn btn-primary" onclick="selectdetail(this.id)"><b><i class="fa fa-credit-card"></i> Proceed To Pay</b></button>
            </td>
     
       
             
    </tr>
                   
  
   
</table> 
  <table id="pd" style="margin-left:1%; margin-right:1px; width:98%;display:none;">
      <tr>
          <td>
               @using (Html.BeginForm())
               {   
              <div class="row">
                      <div class="col-md-6">
                            
                            <div class="block">
                                <div class="block-content">
                                    <h2><strong>@mr.planname Details</strong> </h2>
                                   
                                </div>
                                <div class="block-content controls">
                                    
                                    <div class="row-form">
                                        
                                        <div class="col-md-9"> 
                                            <div class="input-group">
                                            <span class="input-group-addon"><label class="width">Voucher No. </label></span>  
                                        
                                             <input type="text" class="form-control" name="newbondid2" id="newbondid" readonly="true" required/></div>
                                    </div>
                                         </div>
                                    <div class="row-form">
                                        
                                        <div class="col-md-9"> 
                                            <div class="input-group">
                                            <span class="input-group-addon"><label class="width">@mr.planname Name </label></span>  
                                        
                                             <input type="text" class="form-control" name="planname" id="planname" readonly="true" required/></div>
                                    </div>
                                         </div>
                                    <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
                                          <span class="input-group-addon"><label class="width">Term(Yr.) </label></span>  
                                            <input type="text" class="form-control" name="Term" id="term" readonly="true" required/></div>
                                            </div>
                                    </div>
                                    <div class="row-form">
                                       
                                        <div class="col-md-9"> 
                                            <div class="input-group">
                                          <span class="input-group-addon"><label class="width">@mr.planname Mode </label></span>  
                                                 <input type="text" class="form-control" name="mode" id="mode" readonly="true" required/>
                                            </div>
                                    </div>
                                        </div>
                                    <div class="row-form">
                                    <div class="col-md-9">
                                    <div class="input-group">
                                            <span class="input-group-addon"><label class="width">Receipt's Expiry Date </label></span>  
                                            <input type="text" id="prevexpirydate" name="prevexpirydate" class="form-control" readonly="true" required />
                                    </div>
                                    </div>
                                    </div>

                                    <div class="row-form">
                                    <div class="col-md-9">
                                    <div class="input-group">
                                             <span class="input-group-addon"><label class="width">Next Return Date</label></span>  
                                             <input type="text" id="nextduedate" name="expirydate" class="form-control" readonly="true" required />
                                    </div>
                                    </div>
                                    </div>

                                   <div class="row-form" style="display:none">
                                       
                                        <div class="col-md-9">
                                            <div class="input-group">
                                            <span class="input-group-addon"><label class="width">Late Fine(Rs.) </label></span>  
                                            <input type="text" class="form-control" id="latefine" name="latefine" readonly="true" required /></div>
                                    </div>
                                         </div>

                                     <div class="row-form">
                                       
                                        <div class="col-md-9">
                                            <div class="input-group">
                                            <span class="input-group-addon"><label class="width">Return Installment </label></span>  
                                           <input type="text" class="form-control" id="from" name="from" readonly="true" required />
                                                 
                                            </div>
                                    </div>
                                         </div>


                                    <div class="row-form" style="display:none">
                    <div class="col-md-9">
                     <div class="input-group">
                         <span class="input-group-addon"><label class="width">To Return Installment</label></span>  
             
                 
                                                 <select class="form-control" onclick="selectto(this.id)" id="to" name="to" required>
                                           
                                        </select>
                
                  </div>
                 
           </div>
                                    </div>



                                     <div class="row-form">
                                     <div class="col-md-9">
                                     <div style="margin-left:46%;">
                                     <div class="widget-info widget-from" >
                                     <button id="submit" type="submit" class="btn btn-primary" onclick="return confirm('Are you sure to Submit?')">Submit</button>   &nbsp;&nbsp;
                                     <p>@ViewBag.msg</p>
                                 
                            </div>
                                     
                                         
                                         
                                               
                        </div>
                 
           </div>
                                    </div>

                                  

                                </div>
                            </div>

                        </div>           
                      <div class="col-md-6">
                            

                     <div class="block">
                                <div class="block-content">
                                    <h2><strong>Payment Details</strong> </h2>
                                   
                                </div>
                                <div class="block-content controls">
                                    
                                     <div class="row-form">
                                     <div class="col-md-9">
                                     <div class="input-group">
                                        <span class="input-group-addon"><label class="width">Payment Mode </label></span> 
                                        <input type="radio" name="paymethod" checked ="checked" value="Cheque" > Cheque  
                                    </div>
                                    </div>
                                    </div>
                                     <div class="row-form">
                                       
                                        <div class="col-md-9">
                                            
                                            <div class="input-group">
                                    <span class="input-group-addon"><label class="width">Payment Date</label></span>
                                   <input type="text" id="pdate" name="pdate" class="form-control datepicker" value="@DateTime.Now.Date" required />
                                            </div>

                                            </div>
                                    </div>
                                     <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
                                           <span class="input-group-addon"><label class="width">Cheque/ DD No. </label></span>  
                                           <input type="text" id="checkorddno" name="checkorddno"  class="form-control" /></div>
                                    </div>
                                         </div>
                                     <div class="row-form">
                                      
                                        <div class="col-md-9">
                                            <div class="input-group">
                                             <span class="input-group-addon"><label class="width">Draw No. </label></span>  
                                            <input type="text" id="drawno" name="drawno" class="form-control" /></div>
                                    </div>
                                         </div>
                                    

                                       
                                    <div class="row-form" style="display:none">
           <div class="col-md-9">
             <div class="input-group">
             <span class="input-group-addon"><label class="width">Relief(Rs.)</label></span>  
             <input type="text" class="form-control" id="Relief" name="relief" onmouseover="chekrelief(this.id)" required/>
                
                  </div>
                 
           </div>
                                    </div>
                                     <div class="row-form">
                                    
                                        <div class="col-md-9">
                                            
                                            <div class="input-group">
                                 <span class="input-group-addon"><label class="width">Return Amount(Rs.)</label></span>
                                  <input type="text" class="form-control" id="payamount" name="payamount" readonly="true" required/>
                                        </div>
                                            
                                            
                                           </div>
                                    </div>
                                     <div class="row-form">
                                    
                                        <div class="col-md-9">  
                                            <div class="input-group">
       <span class="input-group-addon"><label class="width">Amount In Words </label></span>  
                                            <textarea  name="amountinword"  class="form-control" id="amountinword" readonly="true" required/></div>
                                    </div>
                                 </div>

                                </div>
                            </div>

                        </div>  

                      
              </div>
                 }
              </td>
          </tr>
      
      
      
                              </table>

<h4>@ViewBag.msg</h4>
                        </div>          
                        
                    </div>
  
    </div>
    </div>


