@using ODHDEVELOPERS.Models;
@{
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
    ViewBag.Title = "PartPayment";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);   
    DateTime dt = DateTime.Now.Date;
    Formdate fd = new Formdate();
    var count = db.Formdates.Where(o => o.opid == User.Identity.Name).Count();
    if (count > 0)
    {
        fd = db.Formdates.Single(o => o.opid == User.Identity.Name);
        if (fd.status == 2)
        {
            dt = fd.formdate;
        }     
    }  
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#BondId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompletePartBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };
                        }))
                    }
                })
            }
        });
    })
</script>

<script type="text/javascript">

    ///checkin Renewel-Status Start here ////

    function check(clicked_id) {
        //  $("#" + clicked_id).click(function () {
        var pr = $('#progress');
        pr.attr('class', 'fa fa-pulse fa-spinner text-warning');
            var opid = $("#opid").val();
            var newbondid = $("#BondId").val();
            var url = '@Url.Action("SearchPartRenewal","Branch")';
        $.get(url, { newbondid: newbondid, opid: opid }, function data(t) {
            debugger;
                for (i = 0; i < t.length; i++) {
                    if (t[i].type == 1) {

                        $("#rdmsg,#pd").css('display', 'none').slideUp();
                        $("#rd").css('display', '').slideDown();

                        $("#lblname").text(t[i].name);
                        $("#lblnewbondid").text(t[i].newbondid);
                        $("#lblintid").text(t[i].newintroducerid);
                        $("#lbllins").text(t[i].previnstall);
                        $("#lblmob").text(t[i].mobileno);
                        //$("#lblnewbondname").text(t[i].bondname)
                        //$("#lblintname").text(t[i].introname)
                    }
                    else if (t[i].type == 2) {
                        $("#rd,#pd").css('display', 'none').slideUp();
                        $("#rdmsg").css('display', '').slideDown();

                        $("#lblbondid").text(t[i].newbondid);
                        $("#lblmsg").text(t[i].msg);
                    }
                }
                pr.attr('class', 'fa fa-check text-success');
            });

       // });
    }

    ///selecting Renewel-Details Start here ////

    function selectdetail(clicked_id) {
        // $("#" + clicked_id).click(function () {
        debugger;
        var p2 = $('#progress');
        p2.attr('class', 'fa fa-pulse fa-spinner text-warning');           
        $("#rdmsg,#rd").css('display', 'none').slideUp();
        $("#pd").css('display', '').slideDown();
           
            var toinstall = $("#to");
           
            var newbondid = $("#BondId").val();
            $("#newbondid").val(newbondid);
            var url = '@Url.Action("selectpartdetail","Branch")';
            $.get(url, { newbondid: newbondid }, function data(t) {
                toinstall.children().remove();
                debugger;
                for (i = 0; i < t.length; i++) {
                   
                    $("#planname").val(t[i].planname);
                    $("#term").val(t[i].term);
                    $("#bondname").val(t[i].bondname);
                    $("#introname").val(t[i].introname);
                    $("#from").val(t[i].from);
                    $("#totalplotcost").val(t[i].totalplotcost);
                    $("#paidamount").val(t[i].paidamount);
                    $("#dueamount").val(t[i].dueamount); 
                    $("#mode").val(t[i].mode);
                }
                p2.attr('class', 'fa fa-check text-success');
            });
           
        //});

    }

    ///selecting to installment Start here ////
    function SetPayamount(setid) {
        debugger;
        //$("#" + setid).click(function () {

        var newbondid = $("#BondId").val();
        var amountV = $('#amount').val();
        var latefine = $("#latefine").val();
        var calcAmount = parseFloat(0);
        var gMode = $('#mode').val();
        if (gMode == 'CLP' || gMode == '50-50') {

            var bookPer = gMode == 'CLP' ? 10 : 10;
            var floatAmount = amountV == '' ? 0 : parseFloat(amountV);
            calcAmount = (parseFloat($('#totalplotcost').val()) * bookPer) / 100;
            amountV = floatAmount >= calcAmount ? floatAmount : calcAmount;

            if (floatAmount >= calcAmount) {
                $('#submit').removeAttr('disabled');

                f2_02();
            } else {
                $('#submit').attr('disabled', '');
                alert('Please enter booking amount greater than or equal to ' + calcAmount + ' ...!');
                $('#amount').val(amountV);

            }
        }else{
            f2_02();
        }
        function f2_02() {
            var url = '@Url.Action("SetPayamount","Branch")';

            $.get(url, { newbondid: newbondid, amount: amountV, latefine: latefine }, function data(t) {
                for (var i = 0; i < t.length; i++) {

                    $("#payamount").val(t[i].payamount)
                    $("#payamout1").val(t[i].payamount)
                    $("#amountinword").val(t[i].amountinwords)

                }



            });
        }
    }



        //});

    
</script>

<script>
    function detail(chkid) {
        var chk = $("#" + chkid).val();
        if (chk == "Cheque") {
            $("#detail").show();
            $("#dd").hide();
            $("#trdetail").hide();
        }
        else if (chk == "DD") {
            $("#dd").show();
            $("#detail").hide();
            $("#trdetail").hide();
        }
        else if (chk == "banktransaction") {
            $("#dd").hide();
            $("#detail").hide();
            $("#trdetail").show();
        }
        else {
            $("#detail").hide();
            $("#dd").hide();
            $("#trdetail").hide();
        }
    }
</script>

<div class="container mt-5 FormContainer">
    <h2 class="text-center mb-4">Part/ CLP/ 50-50 Payment</h2>
    <!-- Search Form -->
    <div class="border p-4 rounded shadow formtag">
        @using (Html.BeginForm("PartPayment", "Branch", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
            <input type="hidden" value="@User.Identity.Name" id="opid" />
            <div class="mb-3 controls">
                <label for="memberid" class="form-label formLabel">@mr.custname Id or Name:</label>
                <input type="text" class="form-control formInput" name="newbondid" id="BondId">
            </div>
            <div class="text-center d-grid gap-2">
                <button type="button" class="btn btn-lg formButtom" onclick="check(this.id)" id="search">
                    <i class="fa fa-search "></i>Search
                </button>
            </div>
            <div style="float: left;">
                <p style="color: maroon;"><b>@ViewBag.msg</b></p>
                @if (Convert.ToString(ViewData["paymethod"]) == "Cheque" || Convert.ToString(ViewData["paymethod"]) == "banktransaction")
                {
                    @Html.ActionLink("Print Receipt", "PrintChequeackReceipt", new { newbondid = ViewData["newbondid"], paymentno = ViewData["paymentno"] }, new { onclick = "return confirm('Are you sure to Print?'),target='_blank'" })
                }
                else if (Convert.ToString(ViewData["paymethod"]) == "Cash" || Convert.ToString(ViewData["paymethod"]) == "DD")
                {
                    @Html.ActionLink("Print Receipt", "PrintRenewalReport", new { paymentno = ViewData["paymentno"] }, new { onclick = "return confirm('Are you sure to Print?'), target='_blank'" })
                }
            </div>
        }
    </div>
    <div id="_submit" class="mt-3">
        <div id="rdmsg" style="display: none;">
            <div class="header-row">Renewal-Detail  </div>
            <table>
                <tr>
                    <th colspan="2" style="font-size: large; text-align: center; height: 50px;">
                        Renewal
                    </th>
                </tr>
                <tr style="font-size: medium; height: 40px;">
                    <th style="width: 20%; text-align: center;">
                        <label id="bid"><b>@mr.custname Id</b></label>
                    </th>
                    <th style="width: 80%; text-align: center;">
                        <label id="msg"><b>Message</b></label>
                    </th>
                </tr>
                <tr style="text-align: center;">
                    <td>
                        <label id="lblbondid"></label>
                    </td>
                    <td>
                        <label id="lblmsg"></label>
                    </td>
                </tr>
            </table>
        </div>
        <div id="rd" style="display: none;">
            <div class="header-row">Renewal-Detail  </div>
            <table>
                <thead>
                    <tr>
                        <th id="sn"><b>Name</b></th>
                        <th id="cc"><b>@mr.custname Id</b></th>
                        <th id="c2c"><b>@mr.agentname Id</b></th>
                        <th id="iii"><b>Last Installment</b></th>
                        <th><b>Mobile No</b></th>
                        <th><b>Action</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="firstrow">
                        <td><label id="lblname"></label></td>
                        <td><label id="lblnewbondid"></label></td>
                        <td><label id="lblintid"></label></td>
                        <td><label id="lbllins"></label></td>
                        <td><label id="lblmob"></label></td>
                        <td>
                            <button type="button" id="mp" class="btn btn-primary" onclick="selectdetail(this.id)">
                                <b>
                                    <i class="fa fa-credit-card"></i>Proceed To Pay
                                </b>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div id="pd" style="display: none;">
        <form method="post" enctype="multipart/form-data" id="PartPaymentSubmit">
            <div class="row justify-content-between ml-0" style="width:100%;">
                <!-- First Row: Personal Details & Customer Details -->
                <div class="column mb-4 " style=" width:49%;">

                    <!-- Personal Details Section -->
                    <div class="p-4 rounded formtag mb-4" style=" height: max-content">
                        <h4 class="text-center mb-1">@mr.planname Details</h4>

                        <!-- Branch Code -->
                        <div class="mb-3">
                            <label for="branchCode" class="form-label formLabel">@mr.custname Id:</label>
                            <input type="text" class="form-control formInput" name="newbondid2"
                                   id="newbondid" readonly="true" required />
                        </div>

                        <!-- Form Fee -->
                        <div class="mb-3">
                            <label for="formFee" class="form-label formLabel">@mr.custname Name:</label>
                            <input type="text" class="form-control formInput" name="bondname"
                                   id="bondname" readonly="true" required />
                        </div>

                        <!-- hidden input -->
                        <div class="mb-3 hide">
                            <label for="formFee" class="form-label formLabel">@mr.agentname Name:</label>
                            <input type="text" class="form-control formInput" name="introname"
                                   id="introname" readonly="true" required />
                        </div>

                        <!-- Name -->
                        <div class="mb-3">
                            <label for="name" class="form-label formLabel">@mr.planname Name:</label>
                            <input type="text" class="form-control formInput" name="planname"
                                   id="planname" readonly="true" required />
                        </div>

                        <!-- Relation -->
                        <div class="mb-3">
                            <label for="relation" class="form-label formLabel">Term(Yr.):</label>
                            <div class="d-flex">
                                <input type="text" class="form-control formInput" name="Term" id="term"
                                       readonly="true" required />
                            </div>
                        </div>

                        <!-- Mother Name -->
                        <div class="mb-3">
                            <label for="motherName" class="form-label formLabel">@mr.planname Mode:</label>
                            <input type="text" class="form-control formInput" name="mode" id="mode"
                                   readonly="true" required />
                        </div>

                        <!-- Mobile No -->
                        <div class="mb-3">
                            <label for="mobileNo" class="form-label formLabel">Installment No:</label>
                            <input type="number" class="form-control formInput" id="from"
                                   name="from" readonly="true" required />
                        </div>

                        <!-- Category -->
                        <div class="mb-3">
                            <label for="category" class="form-label formLabel">Total Plot Cost:</label>
                            <input type="number" class="form-control formInput" id="totalplotcost"
                                   readonly="true" />
                        </div>

                        <!-- Nationality -->
                        <div class="mb-3">
                            <label for="nationality" class="form-label formLabel">Paid Amount:</label>
                            <input type="number" class="form-control formInput" id="paidamount"
                                   readonly="true" />
                        </div>

                        <!-- Date Of Joining -->
                        <div class="mb-3">
                            <label for="joiningDate" class="form-label formLabel">Due Amount:</label>
                            <input type="number" class="form-control formInput" id="dueamount"
                                   readonly="true" />
                        </div>

                        <!-- Gender -->
                        <div class="mb-3">
                            <div class="text-center mt-4">
                                <button id="submit" type="submit"
                                        style="width:100px;" class="btn formButtom"
                                        onclick="return confirm('Are you sure to Submit Renewel?')">
                                    Submit
                                </button>
                                &nbsp;&nbsp;
                                <p>@ViewBag.msg</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- second column section -->
                <div class="column mb-4 " style=" width:49%;">
                    <!-- Address Details Section -->
                    <div id="branchForm" class="p-4 rounded formtag mb-4" style=" height: max-content">
                        <h4 class="text-center mb-1">Payment Details</h4>

                        <!-- Address -->
                        <div class="mb-3">
                            <label for="address" class="form-label formLabel">Payment Mode:</label>
                            <div>
                                <input type="radio" id="paymethod" name="paymethod" value="Cash"
                                       checked onclick="detail(this.id)">
                                Cash&nbsp;&nbsp;
                                <input type="radio" id="paymethod2" name="paymethod" value="DD"
                                       onclick="detail(this.id)">
                                DD&nbsp;&nbsp;
                                <input type="radio" id="paymethod3" name="paymethod"
                                       value="Cheque" onclick="detail(this.id)">
                                Cheque&nbsp;&nbsp;
                                <input type="radio" id="paymethod4" name="paymethod"
                                       value="banktransaction" onclick="detail(this.id)">
                                Bank Transaction
                            </div>
                        </div>

                        <!-- State -->
                        <div class="mb-3">
                            <label for="state" class="form-label formLabel">Payment Date:</label>
                            <input type="text" id="pdate" name="pdate" class="form-control formInput"
                                   value="@dt" readonly="" required />
                        </div>

                        <!-- District -->
                        <div id="dd" style="display: none;">
                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">DD No:</label>
                                <input type="text" id="checkorddno" name="checkorddno"
                                       class="form-control formInput" />
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">Draw No:</label>
                                <input type="text" id="drawno" name="drawno"
                                       class="form-control formInput" />
                            </div>
                        </div>
                        <!-- District -->
                        <div id="detail" style="display: none;">
                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Bank Name:</label>
                                <input type="text" id="bank" name="bank"
                                       class="form-control formInput" />
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">A/C No:</label>
                                <input type="text" id="ACNO" name="Account"
                                       class="form-control formInput" />
                            </div>
                            <!-- Pin Code -->

                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Cheque No:</label>
                                <input type="text" id="chequeno" name="chequeno"
                                       class="form-control formInput" />
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">A/C Holder Name:</label>
                                <input type="text" id="ACname" name="ACholdername"
                                       class="form-control formInput" />
                            </div>
                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Branch Name:</label>
                                <input type="text" id="barnch" name="Bbranch"
                                       class="form-control formInput" />
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">IFSC:</label>
                                <input type="text" id="IFSCcode" name="IFSCCode"
                                       class="form-control formInput" />
                            </div>
                            <!-- Pin Code -->

                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Amount:</label>
                                <input type="text" id="Amount" name="ChequeAmount"
                                       class="form-control formInput" />
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">Cheque Date:</label>
                                <input type="date" id="Date" value="@dt" name="Chequedate"
                                       class="form-control formInput" />
                            </div>
                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">Cheque Image:</label>
                                <input type="file" id="Chequeimage" name="Chequeimage"
                                       class="form-control formInput" />
                            </div>
                        </div>
                        <!-- District -->
                        <div id="trdetail" style="display:none;">
                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Bank Name:</label>
                                <select id="trbank" name="trbank" class="form-control formInput">
                                    <option>select</option>
                                    @foreach (var blist in db.BankDetail_Tabs.ToList())
                                    {

                                        <option value="@blist.bankname">@blist.bankname</option>

                                    }
                                </select>
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">Transaction Id:</label>
                                <input type="text" id="transactionid" name="transactionid"
                                       class="form-control formInput" />
                            </div>
                            <!-- Pin Code -->

                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Transaction Date:</label>
                                <input type="date" id="transactiondate"
                                       name="transactiondate" class="form-control formInput" />
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">Amount:</label>
                                <input type="text" id="tramount" name="tramount"
                                       class="form-control formInput" />
                            </div>
                            <div class="mb-3">
                                <label for="district" class="form-label formLabel">Pay Method:</label>
                                <input type="radio" id="trpmethod1"
                                       name="transactiontype" value="NEFT" checked>
                                NEFT&nbsp;&nbsp;
                                <input type="radio" id="trpmethod2"
                                       name="transactiontype" value="IMPS" />
                                IMPS&nbsp;&nbsp;
                                <input type="radio" id="trpmethod3"
                                       name="transactiontype" value="RTGS" />
                                RTGS&nbsp;&nbsp;
                                <input type="radio" id="trpmethod4"
                                       name="transactiontype" value="UPI" />
                                UPI&nbsp;&nbsp;
                                <input type="radio" id="trpmethod5"
                                       name="transactiontype" value="NACH" />
                                NACH
                            </div>

                            <!-- Pin Code -->
                            <div class="mb-3">
                                <label for="pinCode" class="form-label formLabel">A/C Holder's A/C No:</label>
                                <input type="text" id="holderacno" name="holderacno"
                                       class="form-control formInput" />
                            </div>

                        </div>

                        <!-- Pin Code -->
                        <div class="mb-3">
                            <label for="district" class="form-label formLabel">Late Fine(Rs.) :</label>
                            <input type="number" class="form-control formInput" id="latefine"
                                   name="latefine" value="0"
                                   onclick="SetPayamount(this.id)"
                                   onchange="SetPayamount(this.id)" required />
                        </div>

                        <!-- Pin Code -->
                        <div class="mb-3">
                            <label for="district" class="form-label formLabel">Part Payment(Rs.):</label>
                            <input type="text" class="form-control formInput" id="amount"
                                   name="amount" value="0" onclick="SetPayamount(this.id)"
                                   onchange="SetPayamount(this.id)" required />
                            <input type="hidden" id="payamout1" />
                        </div>

                        <!-- Pin Code -->
                        <div class="mb-3">
                            <label for="pinCode" class="form-label formLabel">Pay Amount(Rs.):</label>
                            <input type="text" class="form-control formInput" id="payamount"
                                   name="payamount" readonly="true" required />
                        </div>
                        <!-- Pin Code -->
                        <div class="mb-3">
                            <label for="pinCode" class="form-label formLabel">Amount In Words:</label>
                            <textarea name="amountinword" class="form-control formInput"
                                      id="amountinword" readonly="true" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        $('#PartPaymentSubmit').submit(function (event) {
            debugger;
            SetPayamount('amount');
            var dueamount = parseFloat($('#dueamount').val()), amount = parseFloat($('#amount').val());
            if (amount  > dueamount) {
                event.preventDefault();
                alert('Please enter pay amount less than or equal to ' + dueamount + '...');
            }
        });
    });
</script>