@*@{
        ViewBag.Title = "About";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <article>
        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>
    </article>

    <aside>
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </aside>*@




@using ODHDEVELOPERS.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew1.cshtml";
    UsersContext db = new UsersContext();
    var comp = db.commission_tabs.Where(x => x.Id == 1).ToList();
    var countachive = db.Acheviers.Where(x => x.status == 1).Count();
    var ban_img = db.banner_tabs.Where(x => x.status == 1).ToList();
}


<!--===== HERO AREA STARTS =======-->
<div class="hero-inner-section-area-sidebar">
    <img src="~/assetshome/img/all-images/hero/hero-img1.png" alt="housebox" class="hero-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-header-area text-center">
                    <a href="index.html">
                        Home <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                        </svg>
                        About Us
                    </a>
                    <div class="space24"></div>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->
<!--===== ABOUT AREA STARTS =======-->
<div class="about1-section-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-images-area">
                    <div class="img2 image-anime reveal">
                        <img src="~/assetshome/img/all-images/about/about-img2.png" alt="housebox">
                    </div>
                    <div class="img1 image-anime reveal">
                        <img src="~/assetshome/img/all-images/about/about-img1.png" alt="housebox">
                    </div>
                    <div class="author-img aniamtion-key-1">
                        <h3>Our Happy Customer</h3>
                        <div class="space18"></div>
                        <img src="~/assetshome/img/all-images/others/author-img1.png" alt="housebox">
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="about-heading heading1">
                    <h5 data-aos="fade-left" data-aos-duration="800">About R.G.A</h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">Embrace the Elegance Our Exclusive Property</h2>
                    <div class="space18"></div>
                    <p data-aos="fade-left" data-aos-duration="900">
                        At R.G.A, we’re redefining the way people find, sell, and
                        invest in properties. Our mission is to simplify real a estate by provide innovative solutions, expert
                        guidance.
                    </p>
                    <div class="space32"></div>
                    <div class="counter-boxes" data-aos="fade-left" data-aos-duration="1000">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="counter-boxarea text-center">
                                    <h2><span class="counter">10</span>K</h2>
                                    <div class="space12"></div>
                                    <p>Homes Sold</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="counter-boxarea text-center">
                                    <h2><span class="counter">9</span>K</h2>
                                    <div class="space12"></div>
                                    <p>Happy Client</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-6">
                                <div class="space20 d-md-none d-block"></div>
                                <div class="counter-boxarea text-center">
                                    <h2><span class="counter">98</span>%</h2>
                                    <div class="space12"></div>
                                    <p>Satisfaction Rate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1100">
                        <a href="projects.html" class="theme-btn1">
                            See All Properties <span class="arrow1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span><span class="arrow2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                     height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->
<!--===== OTHERS AREA STARTS =======-->
<div class="mission-section-area sp1" style="background-image: url(/assetshome/img/all-images/bg/bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="heading1 text-center space-margin60">
                    <h5>Our Mission</h5>
                    <div class="space20"></div>
                    <h2>Our Mission & Vision</h2>
                </div>
                <div class="space100 d-lg-block d-none"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="vission-mission-box">
                    <h3>What We Do</h3>
                    <div class="space24"></div>
                    <p>
                        R.G.H is a multi- disciplinary real estate company with proven experience and competence in offering
                        property and investment advisory services .
                    </p>
                    <div class="space24"></div>
                    <h4>Our Mission</h4>
                    <div class="space16"></div>
                    <p>To provide a reliable, transparent, and innovative real estate experience that exceeds expectations and fosters lasting relationships.</p>
                    <div class="space24"></div>
                    <h4>Our Vision</h4>
                    <div class="space16"></div>
                    <p>
                        Our vision has been the same since the beginning, to be a dynamic and innovative real estate company with a passionate
                        commitment to provide superbly designed and built homes in excellent locations.
                    </p>
                    <div class="space32"></div>
                    <div class="btn-area1">
                        <a href="projects.html" class="theme-btn1">
                            See All Properties <span class="arrow1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span><span class="arrow2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="img1">
                    <img src="~/assetshome/img/all-images/properties/property-img47.png" alt="housebox">
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== OTHERS AREA ENDS =======-->
<!--===== ABOUT AREA STARTS =======-->
<div class="about2-section-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="about-images-area">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="img2 image-anime reveal">
                                <img src="~/assetshome/img/all-images/about/about-img3.png" alt="housebox">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img1 image-anime reveal">
                                <img src="~/assetshome/img/all-images/about/about-img4.png" alt="housebox">
                            </div>
                            <div class="space30"></div>
                            <div class="img1 image-anime reveal">
                                <img src="~/assetshome/img/all-images/about/about-img5.png" alt="housebox">
                            </div>
                        </div>
                    </div>
                    <div class="author-img">
                        <h3>Our Happy Customer</h3>
                        <div class="space18"></div>
                        <img src="~/assetshome/img/all-images/others/author-img1.png" alt="housebox">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-heading heading1">
                    <h5 data-aos="fade-left" data-aos-duration="800">About R.G.A</h5>
                    <div class="space20"></div>
                    <h2 class="text-anime-style-3">Embrace the Elegance Our Exclusive Property</h2>
                    <div class="space18"></div>
                    <p data-aos="fade-left" data-aos-duration="900">
                        We are professional and adaptable to the varied needs of our clients. We leverage on our collective strength to provide
                        exceptional services.
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Market Expertise
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p> the flawless interiors designed specifically for each market to the world-class service – no detail is overlooked.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Technology Expertise
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>
                                        its meteoric rise to highest echelons of the real estate industry to the ceaseless efforts we've been making since our
                                        inception to understand the unspoken needs of customers and go above and beyond their expectations.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Commitment to Excellence
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Our commitment to quality construction is best personified by the credo of our company.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1">
                        <a href="projects.html" class="theme-btn1">
                            See All Properties <span class="arrow1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span><span class="arrow2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                    <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->
<!--===== OTHERS AREA STARTS =======-->
<div class="offer1-section-area sp1" style="background-image: url(/assetshome/img/all-images/bg/bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <div class="heading1 text-center space-margin60">
                    <h5>What We Offer</h5>
                    <div class="space20"></div>
                    <h2>Upgrade To a Smarter Living Experience With Home Automation</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="img1">
                    <img src="~/assetshome/img/all-images/about/about-img9.png" alt="housebox">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="offer-boxarea">
                            <div class="icons">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19ZM8 15H16V17H8V15Z"></path>
                                </svg>
                            </div>
                            <div class="space24"></div>
                            <div class="content">
                                <a href="projects.html">Buying A Home</a>
                                <div class="space16"></div>
                                <p>At R.G.A, we know that buying a home is one life’s biggest milestones. Our experienced team is here to guide you through every step home.</p>
                                <div class="space24"></div>
                                <a href="projects.html" class="readmore">
                                    learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="offer-boxarea">
                            <div class="icons">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M12.5812 2.68627C12.2335 2.43791 11.7664 2.43791 11.4187 2.68627L1.9187 9.47198L3.08118 11.0994L11.9999 4.7289L20.9187 11.0994L22.0812 9.47198L12.5812 2.68627ZM19.5812 12.6863L12.5812 7.68627C12.2335 7.43791 11.7664 7.43791 11.4187 7.68627L4.4187 12.6863C4.15591 12.874 3.99994 13.177 3.99994 13.5V20C3.99994 20.5523 4.44765 21 4.99994 21H18.9999C19.5522 21 19.9999 20.5523 19.9999 20V13.5C19.9999 13.177 19.844 12.874 19.5812 12.6863ZM5.99994 19V14.0146L11.9999 9.7289L17.9999 14.0146V19H5.99994Z"></path>
                                </svg>
                            </div>
                            <div class="space24"></div>
                            <div class="content">
                                <a href="projects.html">Selling A Home</a>
                                <div class="space16"></div>
                                <p>Selling your home doesn’t have to be overwhelming. With Housebox, our dedicated experts will make process smooth, stress-free, and rewarding.</p>
                                <div class="space24"></div>
                                <a href="projects.html" class="readmore">
                                    learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="offer-boxarea">
                            <div class="icons">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M10.7577 11.8281L18.6066 3.97919L20.0208 5.3934L18.6066 6.80761L21.0815 9.28249L19.6673 10.6967L17.1924 8.22183L15.7782 9.63604L17.8995 11.7574L16.4853 13.1716L14.364 11.0503L12.1719 13.2423C13.4581 15.1837 13.246 17.8251 11.5355 19.5355C9.58291 21.4882 6.41709 21.4882 4.46447 19.5355C2.51184 17.5829 2.51184 14.4171 4.46447 12.4645C6.17493 10.754 8.81633 10.5419 10.7577 11.8281ZM10.1213 18.1213C11.2929 16.9497 11.2929 15.0503 10.1213 13.8787C8.94975 12.7071 7.05025 12.7071 5.87868 13.8787C4.70711 15.0503 4.70711 16.9497 5.87868 18.1213C7.05025 19.2929 8.94975 19.2929 10.1213 18.1213Z"></path>
                                </svg>
                            </div>
                            <div class="space24"></div>
                            <div class="content">
                                <a href="projects.html">Renting A Home</a>
                                <div class="space16"></div>
                                <p>Finding the right rental property is easy with R.G.A. Whether you’re seeking a cozy apartment spacious home, we offer a variety of options.</p>
                                <div class="space24"></div>
                                <a href="projects.html" class="readmore">
                                    learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="offer-boxarea">
                            <div class="icons">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M8.68637 4.00008L11.293 1.39348C11.6835 1.00295 12.3167 1.00295 12.7072 1.39348L15.3138 4.00008H19.0001C19.5524 4.00008 20.0001 4.4478 20.0001 5.00008V8.68637L22.6067 11.293C22.9972 11.6835 22.9972 12.3167 22.6067 12.7072L20.0001 15.3138V19.0001C20.0001 19.5524 19.5524 20.0001 19.0001 20.0001H15.3138L12.7072 22.6067C12.3167 22.9972 11.6835 22.9972 11.293 22.6067L8.68637 20.0001H5.00008C4.4478 20.0001 4.00008 19.5524 4.00008 19.0001V15.3138L1.39348 12.7072C1.00295 12.3167 1.00295 11.6835 1.39348 11.293L4.00008 8.68637V5.00008C4.00008 4.4478 4.4478 4.00008 5.00008 4.00008H8.68637ZM6.00008 6.00008V9.5148L3.5148 12.0001L6.00008 14.4854V18.0001H9.5148L12.0001 20.4854L14.4854 18.0001H18.0001V14.4854L20.4854 12.0001L18.0001 9.5148V6.00008H14.4854L12.0001 3.5148L9.5148 6.00008H6.00008ZM12.0001 16.0001C9.79094 16.0001 8.00008 14.2092 8.00008 12.0001C8.00008 9.79094 9.79094 8.00008 12.0001 8.00008C14.2092 8.00008 16.0001 9.79094 16.0001 12.0001C16.0001 14.2092 14.2092 16.0001 12.0001 16.0001ZM12.0001 14.0001C13.1047 14.0001 14.0001 13.1047 14.0001 12.0001C14.0001 10.8955 13.1047 10.0001 12.0001 10.0001C10.8955 10.0001 10.0001 10.8955 10.0001 12.0001C10.0001 13.1047 10.8955 14.0001 12.0001 14.0001Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="space24"></div>
                            <div class="content">
                                <a href="projects.html">Property Management</a>
                                <div class="space16"></div>
                                <p>Managing properties can be time-consuming, but R.G.A makes it effortless. Our property management services ensure your investments.</p>
                                <div class="space24"></div>
                                <a href="projects.html" class="readmore">
                                    learn more <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M13.0508 12.361L7.39395 18.0179L5.97974 16.6037L11.6366 10.9468L6.68684 5.99707H18.0006V17.3108L13.0508 12.361Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== OTHERS AREA ENDS =======-->


<div class="space100 d-lg-block d-none"></div>
<div class="space50 d-lg-none d-block"></div>
<!--===== CTA AREA STARTS =======-->
<div class="cta1-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-bg-area"
                     style="background-image: url(/assetshome/img/all-images/bg/background.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="cta-header">
                                <h2 class="text-anime-style-3">Step Into Your Dream Home with R.G.A</h2>
                                <div class="space16"></div>
                                <p data-aos="fade-left" data-aos-duration="1000">
                                    At R.G.A, we believe your next home is more than just a
                                    place – it’s where your future begins you’re buy.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5" data-aos="zoom-in" data-aos-duration="1000">
                            <div class="btn-area1 text-center">
                                <a href="projects.html" class="theme-btn1">
                                    Find Your Dream Home <span class="arrow1">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                        </svg>
                                    </span><span class="arrow2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                             width="24" height="24" fill="currentColor">
                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== CTA AREA ENDS =======-->
