
@model IEnumerable<ODHDEVELOPERS.Models.TempBrokerChainCollection>
    @using ODHDEVELOPERS.Models;
    @{

        Layout = "~/Views/Shared/_AgentLayout.cshtml";
        ViewBag.Title = "BrokerChainCollection";
        UsersContext db = new UsersContext();
        var mr = db.Members.Single(m => m.Id == 1);

        var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
        var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
        var plan3 = db.Plans.Single(p3 => p3.Plancode == 3);
        var plan4 = db.Plans.Single(p4 => p4.Plancode == 4);
        var a = 0;
        Double sissum = 0, missum = 0, sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0, sum5 = 0, sum6 = 0, sum7 = 0, total = 0, gtotal = 0, pppsum = 0, mipsum = 0;

    }


    <script type="text/javascript">
        $(document).ready(function () {
            $("#newagent").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Admin/AutoCompleteAgentid",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.name, value: item.NewAgentId };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>



    <div class="page-content">

        <!-- Print Button  -->

        @if (mr != null)
        {
            <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
                <button class="btn btn-primary px-4 py-2" onclick="PrintMe('divid')">
                    <i class="fas fa-print"></i> Get PDF Report
                </button>
                <div>
                </div>
            </div>


            //Genarate pdf Report by using crystal Report
            <!--<div class="d-flex justify-content-between align-items-center mt-3 mb-4">-->
            <!-- Print Button -->
            <!--<a href="@Url.Action("PrintBrokerChainCollection")" target="_blank" class="btn btn-primary px-4 py-2">
            <i class="fas fa-print"></i> Get Report In PDF
        </a>
        </div>-->


        }



    <div class="d-flex justify-content-between align-items-center mt-3 mb-4">

        <!-- Employee Search Form -->
        <div class="container mt-4 FormContainer">
            <h2 class="text-center mb-4">@mr.agentname Chain Collection</h2>

            <form class="border p-4 rounded shadow formtag">



                <div class="mb-3">
                    <label class="form-label formLabel" style="font-weight: 500;">Start Date</label>
                    <input type="date" name="sdate" class="form-control formInput"
                           style="border: 1px solid #ced4da; border-radius: 5px;" required>
                </div>
                <div class="mb-3">
                    <label class="form-label formLabel" style="font-weight: 500;">End Date</label>
                    <input type="date" name="edate" class="form-control formInput"
                           style="border: 1px solid #ced4da; border-radius: 5px;" required>
                </div>

                <div class="text-center d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg formButtom">Search</button>
                </div>



            </form>
            @*}*@
        </div>

        <!-- Display Results -->
        @foreach (var item in Model)
        {
            <div class="index_body mt-5" id="divid" >
                <div class="table-container">
                    <div class="header-row">Chain Collection Table</div>

                    <table>

                        @if (a == 0)
                        {
                        <thead>

                            <tr style="text-align: center;">
                                <th colspan="5">@mr.branchname Name:@User.Identity.Name</th>

                                <th colspan="4"><b>@mr.agentname Chain Collection</b></th>
                                <th colspan="4"><b>Dated:@Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy") </b></th>
                            </tr>
                            <tr style="text-align: center;">
                                <th colspan="4">@mr.agentname Id:@item.brokercode</th>
                                <th colspan="4">@mr.agentname Name:@item.brokername</th>
                                <th colspan="5"><b>Duration:@Convert.ToDateTime(item.sdate).ToString("dd/MM/yyyy") - @Convert.ToDateTime(item.edate).ToString("dd/MM/yyyy")</b></th>

                            </tr>



                            <tr>
                                <th style="width: 4%; text-align: center;">
                                    <label><b>S.N.</b></label>
                                </th>
                                <th style="width: 10%; text-align: center;">
                                    <label><b>@mr.agentname Id</b></label>
                                </th>

                                <th style="width: 10%; text-align: center;">
                                    <label><b>@mr.agentname Name</b></label>
                                </th>
                                <th style="width: 6%; text-align: center;">
                                    <label><b>Mobile</b></label>
                                </th>

                                <th style="width: 7%; text-align: center;">
                                    <label><b>Booking Amount</b></label>
                                </th>

                                <th style="width: 6%; text-align: center;">
                                    <label><b>First </b></label>
                                </th>
                                <th style="width: 6%; text-align: center;">
                                    <label id="email"><b>Second</b></label>
                                </th>

                                <th style="width: 6%; text-align: center;">
                                    <label><b>Third</b></label>
                                </th>

                                <th style="width: 7%; text-align: center;">
                                    <label><b>Fourth</b></label>
                                </th>

                                <th style="width: 6%; text-align: center;">
                                    <label><b>Fifth</b></label>
                                </th>


                                <th style="width: 6%; text-align: center;">
                                    <label><b>Sixth </b></label>
                                </th>

                                <th style="width: 6%; text-align: center;">
                                    <label><b>Seventh</b></label>
                                </th>
                                <th style="width: 6%; text-align: center;">
                                    <label><b>Total</b></label>
                                </th>




                            </tr>


                        </thead>
                        }
                       
                        <tbody>
                            total = Convert.ToDouble(item.tsis) + Convert.ToDouble(item.tMISFresh) + Convert.ToDouble(item.tppp) + Convert.ToDouble(item.tMIP) + Convert.ToDouble(item.tMIS1) + Convert.ToDouble(item.tMIS2) + Convert.ToDouble(item.tMIS3) + Convert.ToDouble(item.tMIS4) + Convert.ToDouble(item.tMIS5) + Convert.ToDouble(item.tMIS6) + Convert.ToDouble(item.tMIS7a);
                            <tr style="text-align: center;">
                                <td>
                                    @(++a)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.newagentid)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.branch)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMISFresh)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS5)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS6)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tMIS7a)
                                </td>
                                <td>
                                    @total
                                </td>




                            </tr>

                            sissum = sissum + Convert.ToDouble(item.tsis);
                            missum = missum + Convert.ToDouble(item.tMISFresh);
                            pppsum = pppsum + Convert.ToDouble(item.tppp);
                            mipsum = mipsum + Convert.ToDouble(item.tMIP);
                            sum1 = sum1 + Convert.ToDouble(item.tMIS1);
                            sum2 = sum2 + Convert.ToDouble(item.tMIS2);
                            sum3 = sum3 + Convert.ToDouble(item.tMIS3);
                            sum4 = sum4 + Convert.ToDouble(item.tMIS4);
                            sum5 = sum5 + Convert.ToDouble(item.tMIS5);
                            sum6 = sum6 + Convert.ToDouble(item.tMIS6);
                            sum7 = sum7 + Convert.ToDouble(item.tMIS7a);
                            gtotal = gtotal + total;



                            }

                            @if (a > 0)
                            {
                                <tr style="text-align: center;">
                                    <td style="width: 10%" colspan="4"><b>GRAND TOTAL:</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@missum</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@sum1</b></td>
                                    <td style="width: 10%; text-align: center;"><b>@sum2</b></td>
                                    <td style="width: 10%; text-align: center;"><b>@sum3</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@sum4</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@sum5</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@sum6</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@sum7</b></td>
                                    <td style="width: 8%; text-align: center;"><b>@gtotal</b></td>
                                </tr>

                            }
                        </tbody>
                        
                    </table>
                </div>
            </div>

        }

        </div>
    </div>


