@model ODHDEVELOPERS.Models.AgentDetail
@{
    
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
    ViewBag.Title = "EditAgent";
    
}

<style>
    input[disabled] {
        color:#726e6e !important;
    }
</style>
<form method="post" id="fid">
<div class="page-content">

    <div class="container" style="padding-bottom: 80px;">

        <div class="page-toolbar">

            <div class="page-toolbar-block">
                <div class="page-toolbar-title">Edit Agent</div>
                <div class="page-toolbar-subtitle"></div>
            </div>
            <div class="page-toolbar-block pull-right">
                <div class="widget-info widget-from">
                    <div>
                        <label>@DateTime.Now</label>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="block">
                    <div class="block-content">
                        <h2 class="pull-left"><strong>Bank Details</strong></h2>
                        <h2 class="pull-right text-success" id="message">@ViewBag.message</h2>
                    </div>
                    <div class="block-content controls">

                        <div class="row-form">

                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width" style="width: 100px;">Agent Id</label></span>
                                    <input type="text" class="form-control" value="@Model.NewAgentId" name="NewAgentId" id="NewAgentId" readonly="disabled">
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width" style="width: 100px;">Agent Name</label></span>
                                    <input type="text" class="form-control" value="@Model.name" name="name" id="name" readonly="disabled">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width" style="width: 100px;">Mobile</label></span>
                                    <input type="text" class="form-control" value="@Model.Mobile" name="Mobile" id="Mobile" readonly="disabled">
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width" style="width: 100px;">Other Mobile</label></span>
                                    <input type="text" class="form-control" value="@Model.OtherMobile" name="OtherMobile" id="OtherMobile" >
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">PAN No</label></span>
                                    <input type="text" class="form-control" value="@Model.Panno" name="Panno" id="Panno" maxlength="10">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">Aadhar No</label></span>
                                    <input type="text" class="form-control" value="@Model.Aadhaar_No" name="Aadhaar_No" id="Aadhaar_No">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">Driving Licence No</label></span>
                                    <input type="text" class="form-control" value="@Model.Drivinglno" name="Drivinglno" id="Drivinglno">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">Bank Name</label></span>
                                    <input type="text" class="form-control" value="@Model.BankName" name="BankName" id="BankName">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">Branch Name</label></span>
                                    <input type="text" class="form-control" value="@Model.BankBranchName" name="BankBranchName" id="BankBranchName">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">Bank A/C No</label></span>
                                    <input type="text" class="form-control" value="@Model.BankAccountno" name="BankAccountno" id="BankAccountno">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">IFSC Code</label></span>
                                    <input type="text" class="form-control" value="@Model.IFCCode" name="IFCCode" id="IFCCode">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label class="width">Bank Address</label></span>
                                    <input type="text" class="form-control" value="@Model.BankAddress" name="BankAddress" id="BankAddress">
                                </div>

                            </div>
                        </div>
                        <div class="row-form">

                            <div class="col-md-9">

                                <input type="submit" value="Update" class="btn btn-success pull-right" />
                            </div>
                        </div>

                    </div>

                </div>
                <div style="margin-left: 15px;">

                    @Html.ActionLink("Back ", "AgentProfile")
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</div>

</form>

@*<script type="text/javascript">
    if ($('#message').text() != '') {
        $('#fid input').attr('disabled', '');
    }
</script>*@